<app-about></app-about>

<div>
  <h2>{{titulo}}</h2>
</div>

<div class="container">
  <div class="row">

    <div class="col-xl-8 col-md-6 col-xs-12 columnas">
      <div>
        <h3> Módulo de radio inalámbrico IP500® 868 MHz </h3>
        <p>

          El CNX100 fue diseñado para cumplir con los requisitos de una solución estándar inalámbrica abierta y segura
          para la automatización de edificios, casas inteligente y la seguridad inalámbrica. Junto con el
          microcontrolador integrado y una amplia gama de periféricos, el CNX100 usa la mejor tecnología RF de sub-GHz
          de su clase para cumplir con los requisitos de alcance de larga distancia, el alto rendimiento de la tasa de
          datos y las expectativas de seguridad. El CNX100 cumple con la última IEE802.15.4g-2011 y ETSI EN300 220-1 y
          FCC47 CFR Sección 15.247. Una batería con protocolos IP500 y la interfaz de la aplicación BACnet permiten una
          fácil integración en los sistemas de los clientes mediante el uso de una interfaz API estándar.
        </p>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 col xs-12" id="producto"></div>
  </div>

  <div class="row">

    <div class="col-xl-6 col-sm-6">
      <h4>Características Claves</h4>
      <ul>
        <li> Estructura de datos Nativa al protocolo IP500® protocol</li>
        <li> Frecuencia de operación de sub GHz</li>
        <li> Soporta IPv6</li>
        <li> IEEE 802.15.4</li>
        <li> 6LoWPAN</li>
        <li> Connecciones: UART, Antena</li>
        <li> Soporte de Aplicación BACnet</li>
        <li> Dimensiones compactas: 15 mm x 34 mm</li>
        <li> Red en malla</li>
        <li> Certificado CE y ETSI</li>
      </ul>
    </div>
    <div class="col-xl-6 col-sm-6">
      <h4>Adecuado para las siguientes aplicaciones</h4>
      <ul>
        <li><img src="" alt=""> Edificios y casas comerciales inteligentes.</li>
        <li><img src="" alt=""> automatización inalámbrica</li>
        <li><img src="" alt=""> medición inteligente</li>
        <li><img src="" alt=""> redes de sensores de baja potencia</li>
        <li><img src="" alt=""> gestión inteligente de energía ecológica</li>
        <li><img src="" alt=""> Seguridad inalámbrica</li>
      </ul>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <section>
              <h4>Distribuido por</h4>
              <img src="" alt="">
              <a href="">www.ebv.de/vesta</a>
            </section>
          </div>
        </div>
      </div>

    </div>




  </div>

</div>
<app-barra></app-barra>