
<app-about></app-about>

<div>
  <h2>{{titulo}}</h2>
</div>

<div class="container">
  <div class="row">

    <div class="col-xl-8 col-md-6 col-xs-12 columnas">
      <div>
        <h3> IP500® 868 MHz Wireless Radio Module </h3>
        <p>The CNX100 was designed towards the requirements of an secure open wireless standard solution for building
          automation, smart home and wireless security. Together with the integrated microcontroller and a wide range of
          peripherals, the CNX100 uses the best-in-class Sub-GHz RF technology to meet the long distance reach
          requirements,
          high data rate throughput and security expectations. The CNX100 complies with latest IEE802.15.4g-2011 and
          ETSI
          EN300 220-1 and FCC47 CFR Section 15.247. An IP500 protocol stack and the BACnet application interface allow
          an
          easy integration into the customers systems by using a standard API interfacing.</p>
      </div>
    </div>
    <div class="col-xl-4 col-md-6 col xs-12" id="producto"></div>
  </div>

  <div class="row">

    <div class="col-xl-6 col-sm-6">
      <h4>Key Features</h4>
      <ul>
        <li> Native IP500® protocol stack</li>
        <li> Sub GHz operation frequency</li>
        <li> IPv6 support</li>
        <li> IEEE 802.15.4</li>
        <li> 6LoWPAN</li>
        <li> Connections: UART, Antenna</li>
        <li> BACnet application support</li>
        <li> Compact dimensions: 15 mm x 34 mm</li>
        <li> Mesh Network</li>
        <li> CE and ETSI certified</li>
      </ul>
    </div>
    <div class="col-xl-6 col-sm-6">
      <h4>Suitable for the following applications</h4>
      <ul>
        <h4>Suitable for the following applications</h4>
        <li> smart commercial buildings and homes</li>
        <li> wireless automation</li>
        <li> smart metering</li>
        <li> low power sensor networks</li>
        <li> intelligent eco energy management</li>
        <li> wireless security</li>
      </ul>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <section>
              <h4>Distributed by</h4>
              <img src="" alt="">
              <a href="">www.ebv.de/vesta</a>
            </section>
          </div>
        </div>
      </div>

    </div>




  </div>

</div>
<app-barra></app-barra>