<app-solutions></app-solutions>

<div>
  <h2>Soluciones</h2>
</div>

<div class="container centrado">
  <h3>Soluciones y escenarios de implementación</h3>
  <p>
    Las soluciones IP500® garantizan una comunicación inalámbrica sólida e ininterrumpida entre los componentes de
    automatización de edificios relevantes para la seguridad.
    <br>
    El estándar IP500® garantiza la interoperabilidad interdisciplinaria requerida que, además, es fácil de implementar
    utilizando las especificaciones de interoperabilidad BACnet e IP500®.

  </p>
</div>

<div class="container productos-horizontal">
  <div class="row centrado">
    <div class="card col-xl-3 col-md-6 col-xs-12">
      <div class="imagen" id="img1">
        <img src="../../assets/soluciones/smoke-fire.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <h4>Integración del Sistema de Seguridad</h4>
      <p>Control de acceso, alarmas contra incendio y humo, detección de intrusiones</p>
    </div>
    <div class="card col-xl-3 col-md-6 col-xs-12">
      <div class="imagen" id="img2"><img src="../../assets/soluciones/access-control.jpg" class="img-fluid"
          alt="Responsive image"></div>
      <h4>Ciudad Inteligentes</h4>
      <p>Iluminación, seguimiento, transporte y localización.</p>
    </div>
    <div class="card col-xl-3 col-md-6 col-xs-12">
      <div class="imagen" id="img3"><img src="../../assets/soluciones/lightning-clima.jpg" class="img-fluid"
          alt="Responsive image"></div>
      <h4>Integración de instalaciones</h4>
      <p>Casa inteligente, iluminación y clima, gestión energética</p>
    </div>
    <div class="card col-xl-3 col-md-6 col-xs-12">
      <div class="imagen" id="img4"><img src="../../assets/soluciones/access-control-escape.jpg" class="img-fluid"
          alt="Responsive image"></div>
      <h4>Plan de Emergencias</h4>
      <p>Salidas de emergencia, Sistemas de rutas de escape</p>
    </div>
  </div>
</div>



<div class="container">
  <div class="centrado">
    <h3>Casos de uso (PDF)</h3>
    <a href="../docs/18094_IP500_Use-Case_A4_Air-Wind-Rain.pdf">
      <h3>Detección de ventana abierta - Calidad del aire y Detección de viento / lluvia - Luces</h3>
    </a>
  </div>
  <div class="row">

    <div class="columnas">
      <section>
        <h3>Un ejemplo práctico: sistemas de alarma contra incendios</h3>
        <p>En el pasado, los sistemas de alarma contra incendios generalmente se suministraban e instalaban cableados. Esto
          se debió a que generalmente no existía una alternativa a los sistemas cableados, aunque eran relativamente caros
          en comparación con los sistemas inalámbricos debido a que las estrictas disposiciones de estándares como EN 54-25
          excluyen por completo las alternativas inalámbricas o las someten a severas restricciones. Las alarmas de incendio
          deben, por ejemplo, estar protegidas por enlaces redundantes.
          <br>
    
          Donde las soluciones inalámbricas son posibles, los proveedores han tendido a depender de las conexiones punto a
          punto, asegurándose la redundancia mediante el uso de dos bandas de frecuencia. Pero se debe instalar un socio de
          comunicación para cada alarma de incendio, un gasto enorme que hace que los costos se disparen por las nubes.
          <br>
    
          Con el estándar IP500® y el uso de tecnología de malla flexible, las alarmas contra incendios ahora se pueden
          instalar en cualquier parte del edificio. Con suficiente cobertura inalámbrica, no se requieren dispositivos
          adicionales, y si la cobertura es insuficiente, simplemente instale un repetidor para extender la red de malla de
          forma dinámica según sea necesario. Alternativamente o además, los productos IP500® cableados que generalmente
          también funcionan como repetidores aseguran la comunicación, transmitiendo mensajes dinámicamente en la red de
          malla. De esta manera, los sistemas de alarmas contra incendios seguros, robustos y que cumplen con los estándares
          pueden instalarse utilizando tecnología inalámbrica.
          <br>
    
          El potencial está ahí. En la actualidad, solo alrededor del dos a cinco por ciento de las alarmas contra incendios
          están conectadas a una red inalámbrica, y alrededor del 30 al 40 por ciento podrían conectarse de forma
          inalámbrica sin problemas, según los fabricantes, si se dispone de la tecnología adecuada. En los edificios
          listados donde se permiten pocos cambios estructurales, hay poca o ninguna alternativa a las soluciones
          inalámbricas.
    
        </p>
    
        <h3>Escenarios de implementación múltiple</h3>
        <p>El estándar IP500® también permite la conexión de diferentes componentes de automatización de edificios en redes
          inalámbricas, como el acoplamiento de la alarma contra incendios y el sistema de iluminación, de modo que la
          iluminación se pueda usar para mostrar la manera de escapar de las rutas en caso de emergencia. O bien, una
          conexión automática al sistema de control de acceso puede abrir rutas de escape, garantizar el acceso automático
          para los bomberos con buscapersonas adecuadamente equipados, y transmitir las temperaturas e información sobre las
          personas en cada habitación al centro de control de incendios, etc.
          <br>
          Para eso, sin embargo, es mejor si los diferentes dispositivos hablan el mismo idioma, por así decirlo. Con el
          estándar IP500® lo hacen. Utiliza BACnet, un protocolo que está ampliamente establecido y generalmente aceptado en
          la automatización de edificios, como su protocolo de aplicación. Además, el estándar IP500® especifica con
          precisión cuántas funciones se codificarán en BACnet para garantizar la interoperabilidad de los dispositivos.
        </p>
      </section>
    </div>

  </div>

</div>

<app-barra></app-barra>