<div><h2>Solutions</h2></div>

<div>
  <h2>Solutions and Deployment Scenarios</h2>
<p>IP500® solutions ensure robust, uninterruptible, wireless communication between security-relevant building automation components.
<br>
The IP500® standard ensures the requisite cross-disciplinary interoperability that is, moreover, easy to implement using the BACnet and IP500® interoperability specifications.
</p>
</div>

<div class="productos-horizontal">
  <div><img src="" alt=""><h4>Security System Integration</h4><p>Access Control, Fire and Smoke Alarms, Intrusion Detection</p></div>  
  <div><img src="" alt=""><h4>Smart Cities</h4><p>Lighting, Tracking, Transport and Localization</p></div>
  <div><img src="" alt=""><h4>Facility Integration</h4><p>Smart Home, Lighting and Climate, Energy Management</p></div>
  <div><img src="" alt=""><h4>Emergency Planning</h4><p>Emergency Exits, Escape Route Systems</p></div>
</div>

<div>
  <h3>Use Cases (PDF)</h3>
  <a href=""><h3>Open Window Detection  –  Air Quality & Wind/Rain Detection  –  Lights</h3></a>
</div>

<div>
  <section>
    <h3>A Practical Example: Fire Alarm Systems</h3>
    <p>In the past, fire alarm systems have generally been supplied and installed wired. That was because there was usually no alternative to wired systems even though they were relatively expensive when compared with wireless systems because the strict provisions of standards such as EN 54-25 either rule wireless alternatives out entirely or subject them to severe restrictions. Fire alarms must, for example, be secured by redundant links.
      <br>
      Where wireless solutions are possible, providers have tended to rely on point-to-point connections, with redundancy being assured by using two frequency bands. But a communication partner has to be installed for each fire alarm – an enormous expense that sends the costs flying sky-high.
      <br>
      With the IP500® standard and using flexible meshing technology, fire alarms can now be installed anywhere in the building. With sufficient wireless coverage, no additional devices are required, and if the coverage is insufficient, you simply install a repeater to extend the mesh network dynamically as required. Alternatively or in addition, wired IP500® products that generally also function as repeaters ensure communication, relaying messages dynamically in the mesh network. In this way secure, robust, and standard-compliant fire alarms systems can be installed using wireless technology.
      <br>
      The potential is there. At present only about two to five percent of fire alarms are networked wirelessly, and around 30 to 40 percent could go wireless without difficulty, according to the manufacturers, if the right technology were available. In listed buildings where few structural changes are permitted there is little or no alternative to wireless solutions.

    </p>

    <h3>Multiple Deployment Scenarios</h3>
    <p>The IP500® standard also enables different building automation components to be connected in wireless networks, such as coupling the fire alarm and the lighting system so that lighting can be used to show the way to escape routes in an emergency. Or an automatic connection to the access control system can open up escape routes, ensure automatic access for fire fighters with suitably equipped pagers, and relay temperatures and information about the people in every room to the fire control center, etc.
      <br>
      For that, however, it is best if the different devices speak the same language, as it were. With the IP500® standard they do. It uses BACnet, a protocol that is widely established and generally accepted in building automation, as its application protocol. Furthermore, the IP500® standard specifies precisely how many functions are to be coded in BACnet in order to ensure interoperability of devices.
    </p>
  </section>
</div>

<div>
    <h2>Get in touch!</h2>
    <p>We look forward to hearing from you, you will find the right contact person for your request here:</p>
    <button>contact</button>
  </div>
