$ancho1: 1050px;
// $ancho2:;

a:hover {
  cursor: pointer;
  font-size: 1.1em;
}

.container {
  padding: 5vw;
  margin: 0;
}

h4 {
  font-size: 20px;
  margin-top: 1vw;
}

section {
  background-color: rgba($color: #005b90, $alpha: 0.05);
  padding: 2vw;
  margin-top: 4px;
}

.container2 {
  margin: 0;
}

.containerArea {
  padding: 5vw;
  margin: 0;
  display: grid;
  .newsletter {
    grid-area: newsletter;
  }
  .descargas {
    grid-area: descargas;
  }
  .noticias {
    grid-area: noticias;
    display: grid;
    .texto {
      grid-area: texto;
    }

    .noticia1 {
      grid-area: noticia1;
    }
    .noticia2 {
      grid-area: noticia2;
    }
    .noticia3 {
      grid-area: noticia3;
    }

    grid-gap: 1vw;
    grid-template-areas:
      "texto ."
      "noticia1 noticia2"
      "noticia3 noticia3";

    @media screen and (max-width: $ancho1) {
      grid-template-areas:
        "texto ."
        "noticia1 noticia1"
        "noticia2 noticia3";
    }
    @media screen and (max-width: 870px) {
      grid-template-areas:
        "texto"
        "noticia1"
        "noticia2"
        "noticia3";
    }
  }

  grid-template-areas: "newsletter descargas noticias";
  grid-gap: 3vw;
  @media screen and (max-width: $ancho1) {
    grid-template-areas:
      "newsletter noticias"
      "descargas noticias";
  }
  @media screen and (max-width: 560px) {
    grid-template-areas:
      "newsletter"
      "noticias"
      "descargas";
  }
}

