<footer>
    <div class="containerArea">
        
            <div class="newsletter">
                <img src="../img/brand/IP500_RGB.svg" style="width:150px;" alt="">
                <p>La Alianza IP500® es una asociación industrial internacional. Iniciado por los principales
                    fabricantes (OEM), usuarios y operadores.</p>
                <form title="news">
                    <h3>Newsletter</h3>
                    <input type="email" name="email">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </form>
            </div>
            <div class="descargas">
                <h3>Descargas</h3>
                <ul>
                    <li><a href="../docs/IP500_Flyer.pdf" download>Flyer (PDF)</a></li>
                    <li><a href="../docs/2015-03-17_Datasheet_CNX100_ENG.pdf" download>Datasheet CNX 100 (PDF)</a></li>
                    <li><a href="../docs/2015-03-17_Datasheet_CNX200_ENG.pdf" download>Datasheet CNX 200 (PDF)</a></li>
                    <li><a href="../docs/2015-09-20_Datasheet_GT150_ENG.pdf" download>Datasheet GT150 (PDF)</a></li>
                    <li><a href="../docs/IP500_Development_Kit.pdf">Flyer Kit de Desarrollo R3 (PDF)</a></li>
                </ul>
            </div>
            <div class="noticias">
                <!-- !acá también se necesita el pluggin -->
                <div class="texto">
                    <h3>News</h3>
                    
                </div>

                <div class="noticia{{i+1}}" *ngFor="let noticia of noticias; let i=index">
                    <div *ngIf="i<3">
                        <section>
                            <h4><a href="http://">{{noticia.titulo}}</a></h4>
                            <time>{{noticia.fecha}}</time>
                        </section>

                    </div>
                </div>

            </div>

        
    </div>
    <app-login></app-login>
</footer>