<footer>
    <div>
        <img src="" alt="">
        <p>The IP500® Alliance is an international industry association
            launched by leading manufacturers (OEMs), users, and operators.</p>
        <form action="">
            <h2>Newsletter</h2>
            <textarea name="email" id="" cols="30" rows="10">Your email Address</textarea>
            <button type="submit">Sign up</button>
        </form>
    </div>
    <div>
        <h3>Downloads</h3>
        <ul>
            <li><a href="">Flyer (PDF)</a></li>
            <li><a href="">Datasheet CNX 100 (PDF)</a></li>
            <li><a href="">Datasheet CNX 200 (PDF)</a></li>
            <li><a href="">Datasheet GT150 (PDF)</a></li>
            <li><a href="">Flyer Development Kit R3 (PDF)</a></li>
        </ul>
    </div>
    <div>
        <!-- !acá también se necesita el pluggin -->
        <h3>News</h3>
        <section>
            <h4><a href=""></a></h4>
            <time></time>
        </section>

        <section>
            <h4><a href=""></a></h4>
            <time></time>
        </section>

        <section>
            <h4><a href=""></a></h4>
            <time></time>
        </section>

    </div>
</footer>
