<footer>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-md-6 col-xs-12">
                <img src="../../assets/img/brand/IP500_RGB.svg" style="width:150px;" alt="">
                <p>The IP500® Alliance is an international industry association
                    launched by leading manufacturers (OEMs), users, and operators.</p>
                <form title="news">
                    <h2>Newsletter</h2>
                    <input type="email" name="email">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </form>
            </div>
            <div class="col-xl-3 col-md-6 col-xs-12">
                <h3>Downloads</h3>
                <ul>
                    <li><a href="">Flyer (PDF)</a></li>
                    <li><a href="">Datasheet CNX 100 (PDF)</a></li>
                    <li><a href="">Datasheet CNX 200 (PDF)</a></li>
                    <li><a href="">Datasheet GT150 (PDF)</a></li>
                    <li><a href="">Flyer Development Kit R3 (PDF)</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-md-12 col-xs-12">
                <!-- !acá también se necesita el pluggin -->
                <h3>News</h3>

                <section class="noticiasPie">
                    <h4><a href="">IP500 demonstrates additional OEM products</a></h4>
                    <time>March 25, 2019</time>
                </section>

                <section  class="noticiasPie">
                    <h4><a href="">IP500 Alliance at Mobile World Congress 2019</a></h4>
                    <time>February 26, 2019</time>
                </section>

                <section  class="noticiasPie">
                    <h4><a href="">IP500 Alliance at CES, Las Vegas</a></h4>
                    <time>January 15, 2019</time>
                </section>

            </div>
        </div>
    </div>
</footer>