<div class="perfil">
  <div class="encabezado">
    <img src="../../assets/galeria/{{miembro.logo[0].image}}" alt="">
  </div>

  <div class="cuerpo">
    <h2>{{miembro.name}}</h2>
    <div class="descripcion" *ngIf="miembro.description" innerHTML="{{miembro.description}}"></div>
    <div *ngIf="miembro.location">
      <span>{{miembro.location.address.addressCountry}}</span><br>
      <span>{{miembro.location.address.addressLocality}}</span><br>
      <span>{{miembro.location.address.postOfficeBoxNumber}}</span><br>
      <span>{{miembro.location.telephone}}</span><br>
    </div>
    <a href="http://{{miembro.url}}" target="_blank">{{miembro.url}}</a>
  </div>
</div>