<app-nav></app-nav>

<div class="bg"></div>

<h2>La alianza IP500 en el congreso mundial Mobile 2019</h2>

<div class="container">
  <div class="row">
    <i>Noticas internas</i>

    <p>La Alianza IP500® presentó su sistema ECO IP500 con productos de fabricantes de partes originales (OEM) y una
      verdadera red de malla IP500 de banda dual totalmente funcional en el stand de SMK, en el congreso mundial Mobile
      (MWC) 2019, en Barcelona. La exposición a generado un gran interés en toda la industria IoT, incluido el control
      de acceso en grandes instalaciones, en la seguridad de edificios y las aplicaciones de movilidad que utilizan
      robots de seguridad y logística en edificios comerciales (consulte las imágenes a continuación).</p>

    <p>
      El objetivo era demostrar la capacidad funcional de la banda dual IP500, especialmente en la banda de subGHz
      europea (868 MHz), que es mucho mas restringida en el ancho de banda, que en el caso de la banda de subGHz de EE.
      UU. (915 MHz). La demostración también incluyó una prueba de rango que cubría todo el salón, de más de 200 metros.
      Las pruebas en un entorno de alta interferencia han demostrado que la funcionalidad de doble banda y la función de
      la malla IP500 es la única forma de realizar aplicaciones inalámbricas de IoT en edificios comerciales con altos
      requerimientos de seguridad.
    </p>
  </div>
</div>


<div class="container">

  <div class="row">

    <h4>Mas publicaciones</h4>
  </div>
  <div class="row">
    <div class="col-xl-3 col-xs-12">
      <mdb-card>
        <!--Card image-->
        <mdb-card-img src="../img/news/ng3" alt="Card image cap"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>

          <!--Title-->
          <mdb-card-title>
            <h4>IP500 Alliance en CES, Las Vegas</h4>
          </mdb-card-title>

          <a href="/new-component" mdbBtn color="primary" mdbWavesEffect>Más</a>
        </mdb-card-body>
      </mdb-card>
    </div>


    <div class="col-xl-3 col-xs-12">
      <mdb-card>
        <!--Card image-->
        <mdb-card-img src="../img/news/n1.jpg" alt="Card image cap"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>

          <!--Title-->
          <mdb-card-title>
            <h4>IP500 muestra productos De fabricantes de equipamiento original (OEM) adicionales</h4>
          </mdb-card-title>

          <a href="/new-two" mdbBtn color="primary" mdbWavesEffect>Más</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>