<div>
  <h2>{{titulo}}</h2>
</div>

<div>
  <div class="columnas">
<section>
  <h3>The IP500® Alliance</h3>
<p>The IP500® Alliance is an international industry initiative launched by leading manufacturers, users, and operators. It has set itself the target of jointly defining, developing and providing a secure, and vendor neutral wireless communication platform for smart buildings. The new IP500® platform will thereby fulfill all of the technical requirements for secure, interoperable and cross-disciplinary networking of smart devices for use in all areas of building automation.</p>
<br>
<p>With this approach the Alliance is setting out in new directions. Unlike other industry associations that operate internationally and are already specialized in standardizing wireless communication protocols in building automation, the focus at the IP500® Allinace has for several years been on close collaboration with all Alliance members on a joint solution. By using central, generally used and accepted industry norms and standards such as IEEE 802.15.4, IPv6, 6LowPAN, BACnet, AES128, and IPsec, it guarantees maximum interoperability for vendor-neutral and cross-disciplinary interaction between different products required for comprehensive building automation. Manufacturers, users, and operators benefit in equal measure form this inter-disciplinary joint approach.</p>
</section>

<section>
  <h3>The IP500® Organzation</h3>
  <p>The IP500® Alliance is an open and international association. It has been formed by OEMs and system manufacturers to establish a standardized and reliable open meshed wireless sensor and actuator network – mainly for large commercial and enterprise building and process automation applications.</p>
  <br>
  <p>The IP500® membership is driven by industry leaders from across the entire spectrum of leading product and system solution for Access Control, Fire & Smoke Detection, Escape route systems, Intrusion Detection, Lighting & Climate Control, Messaging & Localization and many other solutions.</p>
</section>

<section>
  <h3>Key features</h3>
  <ul>
    <li>most robust and secure mesh connectivity in commercial buildings</li>
    <li>scalable range and mesh topology / size of network</li>
    <li>supports safety / security and mobile & comfort applications</li>
  </ul>
</section>
  </div>
  <div class="video">

  </div>
</div>
