$ancho : 50px;
$alto: 50px;

h2 {
    margin-top: -25vh;
  margin-bottom: 25vh;
  margin-left: 5vw;
}

div > .col-sm-4.col-md-3.col-lg-2.col-xl-1 {
    
    background-size: contain;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  height:$ancho;
width: $alto;
}

#1 {background-image: url('../../../img/galeria/1.jpg')}
#2 {background-image: url('../../../img/galeria/1.jpg')}
#3 {background-image: url('../../../img/galeria/1.jpg')}
#4 {background-image: url('../../../img/galeria/1.jpg')}
#5 {background-image: url('../../../img/galeria/1.jpg')}
#6 {background-image: url('../../../img/galeria/1.jpg')}
#7 {background-image: url('../../../img/galeria/1.jpg')}
#8 {background-image: url('../../../img/galeria/1.jpg')}
#9 {background-image: url('../../../img/galeria/1.jpg')}
#10 {background-image: url('../../../img/galeria/1.jpg')}
#11 {background-image: url('../../../img/galeria/1.jpg')}
#12 {background-image: url('../../../img/galeria/1.jpg')}
#13 {background-image: url('../../../img/galeria/1.jpg')}
#14 {background-image: url('../../../img/galeria/1.jpg')}
#15 {background-image: url('../../../img/galeria/1.jpg')}
#16 {background-image: url('../../../img/galeria/1.jpg')}
#17 {background-image: url('../../../img/galeria/1.jpg')}
#18 {background-image: url('../../../img/galeria/1.jpg')}
#19 {background-image: url('../../../img/galeria/1.jpg')}
#20 {background-image: url('../../../img/galeria/1.jpg')}
#21 {background-image: url('../../../img/galeria/1.jpg')}
#22 {background-image: url('../../../img/galeria/1.jpg')}
#23 {background-image: url('../../../img/galeria/1.jpg')}
#24 {background-image: url('../../../img/galeria/1.jpg')}
#25 {background-image: url('../../../img/galeria/1.jpg')}
#26 {background-image: url('../../../img/galeria/1.jpg')}
#27 {background-image: url('../../../img/galeria/1.jpg')}
#28 {background-image: url('../../../img/galeria/1.jpg')}
#29 {background-image: url('../../../img/galeria/1.jpg')}
#30 {background-image: url('../../../img/galeria/1.jpg')}
#31 {background-image: url('../../../img/galeria/1.jpg')}
#32 {background-image: url('../../../img/galeria/1.jpg')}
#33 {background-image: url('../../../img/galeria/1.jpg')}
#34 {background-image: url('../../../img/galeria/1.jpg')}
#35 {background-image: url('../../../img/galeria/1.jpg')}
#36 {background-image: url('../../../img/galeria/1.jpg')}
#37 {background-image: url('../../../img/galeria/1.jpg')}
#38 {background-image: url('../../../img/galeria/1.jpg')}

