$ancho: 250px;
$alto: 250px;

h2 {
  margin-top: -25vh;
  margin-bottom: 25vh;
  margin-left: 5vw;
  @media screen and (max-width: 756px) {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
}

img {
  margin: 1vw;
  object-fit: cover;
  height: 250px;
  width: 250px;
}
