<app-about></app-about>

<div>
  <h2>{{titulo}}</h2>
</div>

<div class="container">
  <h3>IP500® Members</h3>
</div>

<div class="container">
  <!-- hay que importar los aliados, cada aliado tiene un perfil -->

  <div class="row">

    <div class="col-sm-12	col-md-6	col-lg-4	col-xl-2"  class="img-fluid" alt="Responsive image" id="1">
      <img src="../img/galeria/1.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="2">
      <img src="../img/galeria/2.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="3">
      <img src="../img/galeria/3.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="4">
      <img src="../img/galeria/4.jpg" alt="">
    </div>
  
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="5">
      <img src="../img/galeria/5.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="6">
      <img src="../img/galeria/6.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="7">
      <img src="../img/galeria/7.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="8">
      <img src="../img/galeria/8.jpg" alt="">
    </div>
  
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="9">
      <img src="../img/galeria/9.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="10">
      <img src="../img/galeria/10.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="11">
      <img src="../img/galeria/11.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="12">
      <img src="../img/galeria/12.jpg" alt="">
    </div>
  
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="13">
      <img src="../img/galeria/13.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="14">
      <img src="../img/galeria/14.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="15">
      <img src="../img/galeria/15.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="16">
      <img src="../img/galeria/16.jpg" alt="">
    </div>
  
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="17">
      <img src="../img/galeria/17.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="18">
      <img src="../img/galeria/18.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="19">
      <img src="../img/galeria/19.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="20">
      <img src="../img/galeria/20.jpg" alt="">
    </div>
  
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="21">
      <img src="../img/galeria/21.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="22">
      <img src="../img/galeria/22.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="23">
      <img src="../img/galeria/23.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="24">
      <img src="../img/galeria/24.jpg" alt="">
    </div>
  
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="25">
      <img src="../img/galeria/25.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="26">
      <img src="../img/galeria/26.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="27">
      <img src="../img/galeria/27.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="28">
      <img src="../img/galeria/28.jpg" alt="">
    </div>
  
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="29">
      <img src="../img/galeria/29.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="30">
      <img src="../img/galeria/30.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="31">
      <img src="../img/galeria/31.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="32">
      <img src="../img/galeria/32.jpg" alt="">
    </div>
  
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="33">
      <img src="../img/galeria/33.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="34">
      <img src="../img/galeria/34.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="35">
      <img src="../img/galeria/35.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="36">
      <img src="../img/galeria/36.jpg" alt="">
    </div>
  
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id="37">
      <img src="../img/galeria/37.jpg" alt="">
    </div>
    <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1"  class="img-fluid" alt="Responsive image" id=" 38">
      <img src="../img/galeria/38.jpg" alt="">
    </div>


  </div>

</div>