<app-about></app-about>

<h2>Eventos</h2>
<div class="centrado">
  <h3>Calendario de eventos 2019</h3>
  
  <p>Exposición y oportunidades para hablar durante los próximos 6 meses.</p>

</div>


<div class="container">

<div class="row">
  <section>
    <h4>24 al 25 de abril Reunión principal de la Alianza IP500® / 2019 en el Hotel Berlin Andel</h4>

    <p>Si está interesado en visitarnos o ser parte del próximo taller, contáctenos a través del correo electrónico:
      <a href="mailto:office@ip500alliance.org">office@ip500alliance.org</a> o regsiter aquí. ¡Estamos deseando
      conocerte!
    </p>

    <button type="button" mdbBtn color="info" mdbWavesEffect><a
        href="http://https://ip500.org/ip500-alliance-main-meeting/">Registrate</a></button>
  </section>
</div>
<div class="row">
  <section>
    <h4>25 al 26 abril 2019 / IO Global Tech Expo Londres, Reino Unido</h4>

    <p>IoT Tech Expo World Series 2019: la serie de eventos de IoT más grande del mundo reúne a industrias clave durante
      2
      días de contenido y debate de primer nivel en todo el mundo.</p>


  </section>

</div>
<div class="row">

  <section>
    <h4>17-20 de junio de 2019 / Conferencia y Exposición NFPA San Antonio, TX EE. UU.</h4>
  </section>

</div>
<div class="row">
  <section>
    <h4>25-27 de junio de 2019 / Sensor + Test Nuremberg, Alemania</h4>
    <p>SENSOR + TEST es el foro líder de sensores, tecnologías de medición y pruebas en todo el mundo.
      <br>
      Dónde: Nürnberg
      <br>
      Exhibition Centre Cuando: 25.-27.6.2019</p>
  </section>
</div>



</div>