button > a {
    color: white;
}

h3, p {
    text-align: center;
}

.centrado {
    margin-bottom: 5vw;
}

.row {
    margin-bottom: 3vw;
    border-bottom: 2px;
    border-color: black;
    p {
        text-align: justify;
    }
}

