<app-about></app-about>

<div>
  <h2>{{titulo}}</h2>
</div>

<div class="container">
  <div class="row">

    <div class="col-xl-8 col-md-6 col-xs-12 columnas">
      <div>
        <h3> CoreNetix – IP500® Kit de Desarrollo R3</h3>
        <p>
          El kit de desarrollo CNX - IP500® R3 ofrece todo lo necesario para que los desarrolladores de sistemas
          integren sus productos de Edificios Inteligentes en una red IP500®. Aprenda lo fácil que es controlar y comunicarse
          con sensores y actores a través de una interfaz web gráfica. En menos de 10 minutos, puede tener una red de
          demostración IP500® con todas las funciones configuradas en su entorno. Simplemente encienda el Netbook,
          coloque los tableros DK y enciéndalos, y en unos momentos puede probar las funciones en el tablero. El módulo
          CNX100 montado en las placas de desarrollo con todas las funciones proporciona la base para el despliegue de
          una red IP500®. Se proporciona una demostración de desarrollo como marco para crear sus propias aplicaciones
          para sus propios dispositivos compatibles con IP500®</p>

      </div>
    </div>
    <div class="col-xl-4 col-md-6 col xs-12" id="producto"></div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-6 col xs-12" id="producto2"></div>

    <div class="col-xl-6 col-sm-6">
      <h4>El KIT incluye</h4>
      <ul>
        <li>Tres tableros CNX DK</li>
        <li>Tablero para Puerto R2</li>
        <li>Netbook</li>
        <li>Demo de Inicio Rápido</li>
        <li>Demo de Desarrollo</li>
        <li>CAble USB</li>
        <li>Documentación</li>
      </ul>
      
      <div class="container">
        <div class="row">
          <div class="col-6">

            <section>
              <h3>Distribuido por</h3>
              <li><a href="www.corenetix.com">www.corenetix.com</a></li>

            </section>
          </div>
        </div>
      </div>

    </div>




  </div>

</div>
<app-barra></app-barra>