


<app-about></app-about>

<div>
  <h2>{{titulo}}</h2>
</div>

<div class="container">
  <div class="row">

    <div class="col-xl-8 col-md-6 col-xs-12 columnas">
      <div>
        <h3> CoreNetix – IP500® Development Kit R3</h3>
        <p>The CNX – IP500® Development Kit R3 provides all that is needed for System Developers to integrate their
          Smart
          Building products into an IP500® network. Learn how easy it is to control and communicate with sensors and
          actors via a graphical web interface. In less than 10 minutes you can have a full-functioned demo IP500®
          network
          set up in your environment. Simply power on the Netbook, place the DK boards and power them on, and in a few
          moments, you can try out the board features. The CNX100 module mounted on the full-featured Development Boards
          provides the basis for rolling out an IP500® network. A Development Demo is provided as a framework for
          building
          your own applications for your own IP500® compliant devices.</p>

      </div>
    </div>
    <div class="col-xl-4 col-md-6 col xs-12" id="producto"></div>
  </div>

  <div class="row">
      <div class="col-xl-6 col-md-6 col xs-12" id="producto2"></div>

    <div class="col-xl-6 col-sm-6">
      <h4>Key Features</h4>
      <ul>
        <li>Three CNX DK Boards</li>
        <li>Gateway Board R2</li>
        <li>Netbook</li>
        <li>Quick Start Demo</li>
        <li>Development Demo</li>
        <li>USB Cable</li>
        <li>Documentation</li>
      </ul>
          <h4>Suitable for the following applications</h4>
      <ul>
        <h4>Suitable for the following applications</h4>
        <li> smart commercial buildings and homes</li>
        <li> wireless automation</li>
        <li> smart metering</li>
        <li> low power sensor networks</li>
        <li> intelligent eco energy management</li>
        <li> wireless security</li>
      </ul>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <section>
              <li><a href="www.corenetix.com">www.corenetix.com</a></li>

            </section>
          </div>
        </div>
      </div>

    </div>




  </div>

</div>
<app-barra></app-barra>