.columnas {
    column-count: 2;
    @media screen and (max-width: 1200px) {
        column-count: 1;
      }
      h3 {
          margin-bottom: 3vw;
      }
}

#producto {
    background-image: url('../../../img/productos/Bildschirmfoto-2019-02-27-um-23.20.46.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100vw;
    height: auto;
    @media screen and (max-width: 775px) {
        height: 45vw;
      }
}

#producto2 {
    background-image: url('../../../img/productos/grafico.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: auto;
    height: 100vh;
    @media screen and (max-width: 775px) {
        height: 45vw;
      }
}

.row {
    margin-top: 5vw;
}