<app-about></app-about>

<div>
    <h2>{{titulo}}</h2>
</div>


<div class="container">
    <div class="row">
        <div class="col-12">

            <h3>Asociados IP500@</h3>


        </div>


    </div>


</div>

<!-- se necesita importar los aliados y crearles un perfil a cada uno -->

<div class="container">
    <!-- hay que importar los aliados, cada aliado tiene un perfil -->

    <div class="row">

        <div class="col-sm-12	col-md-6	col-lg-4	col-xl-2" class="img-fluid" alt="Responsive image" id="1">
            <img src="../img/asociados/1.jpg" alt="">
        </div>
        <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1" class="img-fluid" alt="Responsive image" id="2">
            <img src="../img/asociados/2.jpg" alt="">
        </div>
        <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1" class="img-fluid" alt="Responsive image" id="3">
            <img src="../img/asociados/3.jpg" alt="">
        </div>
        <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1" class="img-fluid" alt="Responsive image" id="4">
            <img src="../img/asociados/4.jpg" alt="">
        </div>
    
        <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1" class="img-fluid" alt="Responsive image" id="5">
            <img src="../img/asociados/5.jpg" alt="">
        </div>
        <div class="col-xs-6	col-sm-4	col-md-3	col-lg-2	col-xl-1" class="img-fluid" alt="Responsive image" id="6">
            <img src="../img/asociados/6.jpg" alt="">
        </div>
        
    </div>
</div>