<div class="bg"></div>

<div>
  <h2>Contact</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-xl-4 col-md-6 col-xs-12">


      <section>
        <h3>Headquarter</h3>
        <p>
          IP500® Alliance e.V
          Helmut Adamski, Chairman
          <br>
          Wittestrasse 30K
          D- 13509 Berlin
          <br>
          Tel.: +49 – 30 – 43 572 584
          Fax: +49 – 30 – 43 572 400
          <br>
          eMail: <a href="mailto:info@ip500alliance.org">info@ip500alliance.org</a>
        </p>
      </section>
    </div>
    <div class="col-xl-4 col-md-6 col-xs-12">
      <section>
        <h3>Japan</h3>
        <p>
          IP500® Alliance e.V Represetantive in Japan
          Takashi Kimura, President

          IP500 Japan Chapter
          Wistaria Bildg.9F
          1-21-9 Higashigotanda
          Shinagawa-ku Tokyo
          141-0022, Japan

          Phone: +81-3-6408 -55 66
          Mobile: +81-(0)90-3087-4534
          E-Mail: <a href="mailto:takashi.kimura@ip500alliance.org">takashi.kimura@ip500alliance.org</a>

        </p>
      </section>
    </div>
    <div class="col-xl-4 col-md-6 col-xs-12">

      <section>
        <h3>North America</h3>
        <p>
          IP500® Alliance e.V. Representative
          Rolf Bienert, President
        </p>
        <a href="mailto:rolf.bienert@ip500alliance.org">rolf.bienert@ip500alliance.org</a>
        <br>
        <a href="mailto:christian.carnevale@ip500alliance.org">christian.carnevale@ip500alliance.org</a>
      </section>

    </div>
    <div class="col-xl-4 col-md-6 col-xs-12">
      <section>
        <h3>India</h3>
        <p>
          IP500® India Technology Orientation Centre
          Mr. Sarosij Sengupta
          +91 9810441579

          Leeway Design Consultants India Pvt. Ltd,
          Plot No. 155 – I, Sector – 7, I.M.T. Manesar,
          Gurgaon – 122052, Haryana, India
        </p>
      </section>

    </div>
  </div>
</div>