.bg {
    /* The image used */
    background-image: url("../img/bg/mapa.gif");
  
    /* Half height */
    height: 50vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    // agragar código adicional
  }

  .contenedor {
    margin: 5vw;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    div{
      margin: 1.5vw;
      width: 20vw;
    }
  }