<!-- navegación -->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark light-blue darken-4 fixed-top scrolling-navbar"
    [containerInside]="true">

    <!-- marca -->
    <mdb-navbar-brand><a class="navbar-brand" routerLink="/"><img src="../img/brand/IP500_logo_blanco.svg"
                alt="Home {{title}}" height="30" style="margin-right:20px; width:100%/9;"
                class="d-inline-block align-top">IP500</a>
                <a class="largo" href="https://ip500.org/" target="_blank">/English</a>
                <a class="corto" href="https://ip500.org/" target="_blank">/en</a></mdb-navbar-brand>

    <!-- inicio colapso -->
    <links>
        <ul class="navbar-nav ml-auto">
            <!-- normal -->
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/">Home<span
                        class="sr-only">(current)</span></a>
            </li>

            <!-- dropdown -->
            <li class="nav-item dropdown" routerLinkActive="active" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    About<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a routerLink="/Acerca-de-IP500" class="dropdown-item waves-light" mdbWavesEffect role="button"
                        (click)="toggleCollapse()">IP500&reg;</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/Directivos"
                        (click)="toggleCollapse()">Directivos IP500&reg;</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/Miembros"
                        (click)="toggleCollapse()">Miembros IP500&reg;</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/Socios"
                        (click)="toggleCollapse()">Socios IP500&reg;</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/Unete"
                        (click)="toggleCollapse()">Únete</a>

                    <!-- se usa para la linea de separación -->
                    <!-- <div class="divider dropdown-divider"></div>
                                <a class="dropdown-item waves-light" mdbWavesEffect>Separated link</a> -->
                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    Productos<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/gt150"
                        (click)="toggleCollapse()">Puerto - GT150</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/ethernet"
                        (click)="toggleCollapse()">Puerto Web</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/cnx100"
                        (click)="toggleCollapse()">Módulo de Radio inalambrico (868 MHz) - CNX100</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/cnx200"
                        (click)="toggleCollapse()">Módulo de Radio con Banda Dual - CNX200</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/development"
                        (click)="toggleCollapse()">Kit R3</a>
                </div>
            </li>

            <li class="nav-item dropdown" routerLinkActive="active" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    Soluciones<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/Soluciones"
                        (click)="toggleCollapse()">Soluciones IP500&reg;</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/Proyecto"
                        (click)="toggleCollapse()">Proyecto Ciudad Inteligente Freiburg</a>
                </div>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/Tecnologia">Tecnología<span
                        class="sr-only">(current)</span></a>
            </li>

            
            
            <li class="nav-item dropdown" routerLinkActive="active" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    Noticias<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/Noticias"
                    (click)="toggleCollapse()">Noticias</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/Eventos"
                    (click)="toggleCollapse()">Eventos</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/Prensa"
                    (click)="toggleCollapse()">Prensa</a>
                </div>
            </li>
            

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/Contacto">Contacto<span
                        class="sr-only">(current)</span></a>
            </li>
            <!-- Search form -->

            <!-- <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form> -->


        </ul>

    </links>

</mdb-navbar>