<header>
    <div class="barraNav">
        <nav>
            <div class="logo">
                <button type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                </button>
                <a routerLink="/">
                    <img src="../../assets/img/brand/IP500_RGB.svg" width="50" height="50" alt="{{appTitle}} Home"
                        routerLink="/">
                    {{appTitle}}
                </a>

            </div>
            <div id="menuNav">
                <ul>
                    <li><a routerLink="/">Home</a></li>

                    <li class="dropdown">
                        <a routerLink="/about" class="despliega">
                            About
                        </a>
                        <div class="dropdown-content">
                            <a routerLink="/about-ip500">About IP500&reg;</a>
                            <a routerLink="/ip500-board">IP500&reg; Board</a>
                            <a routerLink="/ip500-members">IP500&reg; Members</a>
                            <a routerLink="/ip500-partners">IP500&reg; Partners</a>
                            <a routerLink="/join-us">Join Us</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a routerLink="/products" class="despliega">
                            Products
                        </a>
                        <div class="dropdown-content">
                            <a routerLink="/gt150">GT150 - Getaway</a>
                            <a routerLink="/ethernet">Ethernet - Getaway</a>
                            <a routerLink="/cnx100">CNX100 - 868 MHz Wireless Radio Module</a>
                            <a routerLink="/cnx200">CNX200 - Dual Band Radio Module </a>
                            <a routerLink="/development">Development Kit R3</a>
                        </div>
                    </li>

                    <li class="dropdown">
                        <a routerLink="/solutions" class="despliega">
                            Solutions
                        </a>
                        <div class="dropdown-content">
                            <a routerLink="/ip500-solutions">IP500&reg; Solutions</a>
                            <a routerLink="/project">Smart City Project Freiburg</a>
                        </div>
                    </li>
                    <li><a routerLink="/technology">Technology</a></li>

                    <li class="dropdown">
                        <a routerLink="/news" class="despliega">
                            News
                        </a>
                        <div class="dropdown-content">
                            <a routerLink="/news-news">News</a>
                            <a routerLink="/events">Events</a>
                            <a routerLink="/press">Press</a>
                        </div>
                    </li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>

            </div>
        </nav>
    </div>
</header>
