<app-about></app-about>

<div class="container">
  <div class="inicio">
    <h2>{{titulo}}</h2>
  </div>

  <div>
    <div class="columnas">
      <section>
        <h3>The IP500® Alliance</h3>
        <p>The IP500® Alliance is an international industry initiative launched by leading manufacturers, users, and
          operators. It has set itself the target of jointly defining, developing and providing a secure, and vendor
          neutral wireless communication platform for smart buildings. The new IP500® platform will thereby fulfill all
          of
          the technical requirements for secure, interoperable and cross-disciplinary networking of smart devices for
          use
          in all areas of building automation.</p>
        <br>
        <p>With this approach the Alliance is setting out in new directions. Unlike other industry associations that
          operate internationally and are already specialized in standardizing wireless communication protocols in
          building automation, the focus at the IP500® Allinace has for several years been on close collaboration with
          all
          Alliance members on a joint solution. By using central, generally used and accepted industry norms and
          standards
          such as IEEE 802.15.4, IPv6, 6LowPAN, BACnet, AES128, and IPsec, it guarantees maximum interoperability for
          vendor-neutral and cross-disciplinary interaction between different products required for comprehensive
          building
          automation. Manufacturers, users, and operators benefit in equal measure form this inter-disciplinary joint
          approach.</p>
      </section>

      <section>
        <h3>The IP500® Organzation</h3>
        <p>The IP500® Alliance is an open and international association. It has been formed by OEMs and system
          manufacturers to establish a standardized and reliable open meshed wireless sensor and actuator network –
          mainly
          for large commercial and enterprise building and process automation applications.</p>
        <br>
        <p>The IP500® membership is driven by industry leaders from across the entire spectrum of leading product and
          system solution for Access Control, Fire & Smoke Detection, Escape route systems, Intrusion Detection,
          Lighting
          & Climate Control, Messaging & Localization and many other solutions.</p>
      </section>

      <section>
        <h3>Key features</h3>
        <ul>
          <li>most robust and secure mesh connectivity in commercial buildings</li>
          <li>scalable range and mesh topology / size of network</li>
          <li>supports safety / security and mobile & comfort applications</li>
        </ul>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="">
      <div class="centrado">
        <div class="contenido">

          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/YZqhxWt2E0g" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

      </div>
    </div>
  </div>

  <div class="row">

    <!-- Card -->
    <mdb-card>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>The founding members</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text> ABI-Sicherheitssystem, Belimo, Bosch Security Systems, JOB Detectomat, Dorma, Gunnebo,
          Hekatron, Honeywell, LINK, Siemens Building Technologies Division, SimonsVoss,
          STG-BEIKIRCH, Tyco, UTC Fire & Security, WAGO, Xtralis.
        </mdb-card-text>

        <a href="#" mdbBtn color="primary" mdbWavesEffect>See all members</a>
      </mdb-card-body>
    </mdb-card>
    <!-- Card -->

  </div>
</div>







<app-barra></app-barra>