<app-about></app-about>

<div class="container">
  <div class="inicio">
    <h2>{{titulo}}</h2>
  </div>

  <div>
    <div class="columnas">
      <section>
        <h3>La Alianza IP500®</h3>
        <p>
          La Alianza IP500® es una iniciativa internacional de la industria lanzada por los principales fabricantes,
          usuarios y operadores. Se ha fijado el objetivo de definir, desarrollar y proporcionar conjuntamente una
          plataforma de comunicación inalámbrica segura y neutral para proveedores inteligentes para estructuras
          inteligentes. La nueva plataforma IP500® cumplirá con todos los requisitos técnicos para la creación de redes
          seguras, interoperables y multidisciplinarias de dispositivos inteligentes para su uso en todas las áreas de
          automatización.
        </p>
        <br>
        <p>

          Con este enfoque, la Alianza avanza en nuevas direcciones. A diferencia de otras asociaciones de la industria
          que operan internacionalmente y ya están especializadas en estandarizar la automatización de los protocolos de
          comunicación inalámbrica, es que en nuestro enfoque, la Alianza IP500® ha estado durante varios años en una
          estrecha colaboración con todos los miembros de la Alianza en una solución conjunta. Al utilizar normas y
          estándares de la industria, generalmente utilizados y aceptados, como IEEE 802.15.4, IPv6, 6LowPAN, BACnet,
          AES128 e IPsec, garantiza la máxima interoperabilidad para la interacción entre proveedores e
          interdisciplinaria entre diferentes productos necesarios para una estructura automatizada integral. Los
          fabricantes, usuarios y operadores se benefician en igual medida de este enfoque conjunto interdisciplinario.

        </p>
      </section>

      <section>
        <h3>La Organización IP500®</h3>
        <p>
          La Alianza IP500® es una asociación abierta e internacional. Ha sido formado por fabricantes de equipos
          originales y fabricantes de sistemas para establecer una red de sensores y activadores inalambricos estadarizados y confiables, principalmente para aplicaciones de automatización de procesos y grandes
          construcciones o áreas comerciales y empresariales.</p>
        <br>
        <p>
          La afiliación de IP500® está dirigida por líderes de la industria en todo el espectro de productos y
          soluciones de sistemas líderes para el control de acceso, detección de incendios y humo, sistemas de rutas de
          escape, detección de intrusos, iluminación y control del clima, mensajería y localización y muchas otras
          soluciones.</p>
      </section>

      <section>
        <h3>Características Claves</h3>
        <ul>
          <li>Conectividad de redes más robustas y seguras en edificios comerciales</li>
          <li>Escalabilidad en alcance y topología de las redes y tamaño de red</li>
          <li>Soporte en buenas prácticas, seguridad y aplicaciones móviles y de confort.</li>
        </ul>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="">
      <div class="centrado">
        <div class="contenido">

          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/YZqhxWt2E0g" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

      </div>
    </div>
  </div>

  <div class="row">

    <!-- Card -->
    <mdb-card>
      <!--Card content-->
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4 class="centrado2">Miembros fundadores</h4>
        </mdb-card-title>

        <!--Text-->
        <mdb-card-text class="centrado2"> ABI-Sicherheitssystem, Belimo, Bosch Security Systems, JOB Detectomat, Dorma, Gunnebo,
          Hekatron, Honeywell, LINK, Siemens Building Technologies Division, SimonsVoss,
          STG-BEIKIRCH, Tyco, UTC Fire & Security, WAGO, Xtralis.
        </mdb-card-text>
<div class="centrado2">
  <a href="#" mdbBtn color="primary" mdbWavesEffect>See all members</a>

</div>
      </mdb-card-body>
    </mdb-card>
    <!-- Card -->

  </div>
</div>







<app-barra></app-barra>