<div class="bg"></div>

<div>
  <h2>Tecnología</h2>
</div>



<div class="container">
  <div class="row">

    <div class="col-12">
      <div>
        <h3>IP500® – una plataforma inalámbrica abierta, segura y neutral para los fabricantes de edificios comerciales
          e
          industriales</h3>
      </div>
      <div class="columnas">
        <p>
          Como una plataforma de automatización de edificios abierta, no propietaria, de alto rendimiento y segura, el
          estándar IP500® establece nuevos estándares. Es el único estándar de tecnología inalámbrica que garantiza la
          máxima interoperabilidad al usar y respaldar las principales normas de la industria y al especificar
          claramente
          todas las interfaces. Utiliza y admite IEEE 802.15.4-2006, 6LoWPAN, IPv6, IPSec, BACnet y AES128.
          <br>

          Además, el estándar IP500® es la primera y única solución inalámbrica que cumplirá con todas las
          especificaciones EN y VdS para productos y dispositivos electrónicos en aplicaciones relevantes de seguridad y
          protección, como protección contra incendios, protección contra robos o control de acceso.

        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-6 col-xs-12">
      <div>
        <section>
          <h3>características Claves</h3>
          <ul>

            <li> La conectividad de malla más robusta y segura en edificios comerciales</li>
            <li> Alcance escalable y topología de malla / tamaño de red</li>
            <li> Soporta aplicaciones de seguridad / seguridad y móviles y de confort.</li>
            <li> Alta capacidad de red</li>
          </ul>
        </section>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 col-xs-12" id="imagen1">
      
    </div>
  </div>


  <div class="row">
    <div class="col-xl-6 col-md-6 col-xs-12" id="imagen2">
      
    </div>
    <div class="col-xl-6 col-md-6 col-xs-12">
      <div>
        <section>
          <h3>Aplicaciones</h3>
          <ul>

            <li> Control de Acceso, Cerraduras</li>
            <li> Detección de fuego y humo</li>
            <li> Sistemas de rutas de escape</li>
            <li> Detección de intrusión</li>
            <li> Iluminación y Control Climático</li>
          </ul>
        </section>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12 titulo" id="imagen3">
      <h3> Protocolo de Estructura de Datos /Visión General </h3>
      <img src="../img/bg/bg11.jpg" alt="">
    </div>

    <div class="col-md-6 col-xs-12 titulo" id="imagen4">
        
      <div class="separar">
        <h3>
          Tecnología de red de malla </h3>
      </div>
<img src="../img/bg/bg12.jpg" alt="">
    </div>

  </div>

  <div class="columnas">
    <h3>
      Redes seguras y de control de diferentes disciplinas.</h3>
    <p>
      Diferentes sensores en red, actuadores y otros dispositivos inteligentes en diferentes disciplinas constituyen la
      base. Al utilizar IPv6 (Internet de las cosas) y BACnet, el estándar IP500® es la solución de plataforma ideal
      para
      redes inalámbricas y control en las siguientes áreas: control de acceso y cerraduras de seguridad, alarmas de
      incendio y humo, salidas de emergencia, protección contra robos, Iluminación y climatización, mensajería y
      localización.
      <br>
      La plataforma IP500® sienta las bases para soluciones de automatización de edificios sostenibles, eficientes en el
      consumo de energía y fáciles de integrar. Esto se aplica tanto dentro de una disciplina como a través de
      disciplinas para el despliegue neutral de proveedores de productos y sistemas. Se pueden conectar en red y
      controlar de forma segura y sencilla con una cantidad extremadamente pequeña de energía. Como consecuencia, las
      soluciones IP500® logran una mayor rentabilidad y proporcionan una protección garantizada de la inversión en todos
      los niveles de creación de valor. Además, solo se puede ejecutar una gran cantidad de aplicaciones con la ayuda de
      IP500®: usos como el acoplamiento de datos de sensores y sistemas de gestión de energía de forma simple y
      sencilla, o la vinculación de sistemas de alarma contra incendios con instalaciones de iluminación.
      <br>
      En la actualidad, ningún otro sistema inalámbrico ofrece los protocolos requeridos con las normas nacionales
      estándar, como VdS en Alemania y las normas europeas. La instalación y operación de soluciones abiertas e
      inalámbricas que cumplan con los estándares en el sector comercial requerirán el estándar IP500®.
    </p>

    <h3>Máxima flexibilidad y facilidad de instalación
    </h3>
    <p>

      El estándar IP500® no solo simplifica el servicio y el mantenimiento de edificios inteligentes; También asegura la
      máxima flexibilidad en el uso de diferentes componentes. Además, no se requieren conocimientos especiales de redes
      o sistemas para fabricantes específicos. Por lo tanto, la solución inalámbrica es ideal para una instalación
      rápida y sencilla de redes de comunicación de vanguardia y una libre elección del fabricante. Lo mismo se aplica a
      los dispositivos y aplicaciones de terminal móvil, como tarjetas de acceso o aplicaciones de mensajería que pueden
      integrarse en el sistema de forma fácil y segura. Finalmente, las soluciones IP500® son casi ilimitadas en cuanto
      a su capacidad de configuración, escalabilidad y capacidad de actualización en cualquier momento.
    </p>

    <h3>Ahorro de costos y bajo costo de entrenamiento
    </h3>
    <p>
      Un beneficio adicional de la interoperabilidad es el ahorro de costos que proporciona. Cuanto más diferentes sean
      los sistemas y menos interoperables sean, mayor será el costo de funcionamiento de un edificio. A la inversa, se
      pueden lograr ahorros sustanciales de costos al simplificar la infraestructura básica mediante un protocolo
      inalámbrico uniforme y un alto nivel de interoperabilidad. Resultan principalmente de un mantenimiento y
      operabilidad uniformes, herramientas de administración similares y menores costos de capacitación para el
      personal. Eso lleva a una reducción en los costos totales de propiedad (TCO). Estos costos de capacitación más
      bajos también se benefician del uso de tecnologías basadas en IP bien conocidas y de larga data. Este conocimiento
      básico ya está disponible en la mayoría de las empresas y no es necesario adquirirlo a un alto costo en términos
      de tiempo y dinero. Un mínimo de capacitación es suficiente para llevar a los empleados adecuados al estado de la
      técnica. También se debe suponer que los tiempos de respuesta en una emergencia (incendio, robo, etc.) serán más
      cortos y que los riesgos se pueden minimizar aún más.
      <br>
      <br>
      <i>Los componentes técnicos de la plataforma de comunicación inalámbrica IP500® son el módulo IP500® (microchip) y
        la infraestructura IP500® (redes y servicios de red definidos).</i>
    </p>
  </div>


</div>

<app-barra></app-barra>