<app-nav></app-nav>

<div class="bg"></div>

<h2>IP500 muestra Otros productos de fabricantes de partes originales (OEM)</h2>

<div class="container">
  <div class="row">
    <i>Noticas internas</i>

    <p>El proyecto IP500 SmartIndustry muestra productos OEM adicionales en la sala de demostración en Friburgo,
      Alemania
      <br>
      <br>
      Como se informó en la Carta de Noticias 4/2018, se logró la instalación exitosa del sistema IP500 ECO totalmente
      interoperable. La instalación incluyó varios productos OEM IP500 y la infraestructura IP500, así como la solución
      BMS para el edificio más grande de Freiburg, Alemania.
      <br>
      <br>
      En el último taller de Friburgo, el 12 de marzo, se instalaron productos OEM adicionales en la sala de
      demostración. El equipo del proyecto IP500 ahora está trabajando para multiplicar estas aplicaciones en otros
      edificios industriales de la parte norte de Freiburg, así como en Lahr, Offenburg y Lörrach, incluyendo un total
      de más de 300 edificios.
    </p>

  </div>
</div>


<div class="container">

  <div class="row">

    <h4>Mas publicaciones</h4>
  </div>
  <div class="row">
    <div class="col-xl-3 col-xs-12">
      <mdb-card>
        <!--Card image-->
        <mdb-card-img src="../img/news/ng3.jpg" alt="Card image cap"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>

          <!--Title-->
          <mdb-card-title>
            <h4>IP500 Alliance en CES, Las Vegas</h4>
          </mdb-card-title>

          <a href="/new-component" mdbBtn color="primary" mdbWavesEffect>Más</a>
        </mdb-card-body>
      </mdb-card>
    </div>


    <div class="col-xl-3 col-xs-12">
      <mdb-card>
        <!--Card image-->
        <mdb-card-img src="../img/news/n2.jpg" alt="Card image cap"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>

          <!--Title-->
          <mdb-card-title>
            <h4>La alianza IP500 En el congreso mundial Mobile</h4>
          </mdb-card-title>

          <a href="/new-one" mdbBtn color="primary" mdbWavesEffect>Más</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>