<app-about></app-about>

<div>
  <h2>{{titulo}}</h2>
</div>

<div class="container">
  <div class="row">

    <div class="col-xl-8 col-md-6 col-xs-12 columnas">
      <div>
        <h3>Puerto Web- MICROSENS IP500®</h3>
        <p>
          El MICROSENS IP500®-Ethernet Gateway está diseñado para interconectar redes de sensores inalámbricos basadas
          en IP500® con las soluciones del sistema de construcción inteligente de MICROSENS. El módulo del puerto de
          enlace compacta se puede conectar directamente a un puerto de enlace descendente MICROSENS Micro Switch. Para
          simplificar los procesos de administración de servicios de TI, el puerto de enlace de internet-IP500® consta de
          LED separados para monitorear la disponibilidad de voltaje de CC en la placa y el latido del corazón del
          sistema interno. Durante el registro y el análisis de la causa raíz de los incidentes, el estado de estos LED
          permite que un sistema de escritorio analice y clasifique facilmente los problemas clasifique fácilmente los problemas que pueden estar relacionados con el
          suministro de energía o el estado del sistema.
        </p>

      </div>
    </div>
    <div class="col-xl-4 col-md-6 col xs-12" id="producto"></div>
  </div>

  <div class="row">

    <div class="col-xl-6 col-sm-6">
      <h4>Características Claves</h4>
      <ul>
        <li> Verdadera cobertura de banda dual para sub GHz y bandas de 2,4 GHz ISM</li>
        <li> Antenas internas, conectores de antena externos opcionales</li>
        <li> Suministro a través del puerto de enlace ascendente de Ethernet con PoE (PD), IEEE 802.3af</li>
        <li> LED de control independiente para indicar el ritmo del sistema y el voltaje de CC a bordo</li>
        <li> Configuración y gestión a través de Micro Switch MICROSENS adjunto.</li>
        <li> Soporte de procesos de gestión de servicios.</li>
        <li> Fácil de instalar en cualquier sistema de instalación eléctrica estándar de 45 mm</li>
        <li> El factor de forma y de perfil son idénticos a los Micro Switches de MICROSENS</li>
      </ul>
    </div>
    <div class="col-xl-6 col-sm-6">
      <h4>Adecuado para las siguientes aplicaciones</h4>
      <ul>
        <li><img src="" alt=""> Edificios y casas comerciales inteligentes.</li>
        <li><img src="" alt=""> automatización inalámbrica</li>
        <li><img src="" alt=""> medición inteligente</li>
        <li><img src="" alt=""> redes de sensores de baja potencia</li>
        <li><img src="" alt=""> gestión inteligente de energía ecológica</li>
        <li><img src="" alt=""> Seguridad inalámbrica</li>
      </ul>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <section>
              <h4>Distribuido por</h4>
              <img src="" alt="">
              <a href="">www.microsens.com</a>
            </section>
          </div>
        </div>
      </div>

    </div>




  </div>

</div>
<app-barra></app-barra>