<div>
  <h2>{{titulo}}</h2>
</div>

<div>
  <section>
    <h3>MICROSENS IP500®-Ethernet Gateway</h3>
    <p>The MICROSENS IP500®-Ethernet Gateway is designed to interface IP500®-based wireless sensor networks to MICROSENS
      Smart Building System solutions. The compact gateway module can be directly attached to a MICROSENS Micro Switch
      downlink port. In order to simplify IT Service Management processes the IP500®-Ethernet Gateway consists of
      separate LEDs for monitoring the availability of DC on-board voltage and the internal system heart-beat. During
      recording and root cause analysis of incidents the status of these LEDs enables a Service Desk Analyst to easily
      classify issues which may be related to the provisioning of power or the system status.</p>

  </section>
  <div></div>
</div>

<div>
  <h4>Key Features</h4>
  <ul>

    <li> True Dual Band coverage for Sub GHz and 2.4 Ghz ISM Bands</li>
    <li> Internal antennas, optional external antenna connectors</li>
    <li> Supply through Ethernet uplink port with PoE (PD), IEEE 802.3af</li>
    <li> Independent Control LED′s to indicate system heartbeat and DC on-board voltage</li>
    <li> configuration and management through attached MICROSENS Micro Switch</li>
    <li> Support of Service Management processes</li>
    <li> Easy to install into any standard 45 mm electrical installation system</li>
    <li> Form factor and shape are identical with MICROSENS Micro Switches</li>
  </ul>

  <h4>Suitable for the following applications</h4>
  <ul>
      <li><img src="" alt=""> smart commercial buildings and homes</li>
      <li><img src="" alt=""> wireless automation</li>
      <li><img src="" alt=""> smart metering</li>
      <li><img src="" alt=""> low power sensor networks</li>
      <li><img src="" alt=""> intelligent eco energy management</li>
      <li><img src="" alt=""> wireless security</li>
  </ul>

  <h4>Distributed by</h4>
  <img src="" alt="">
  <a href="">www.microsens.com</a>
</div>

<div>
  <h3>Get in touch!</h3>
  <p>We look forward to hearing from you, you will find the right contact person for your request here:</p>
  <button>Contact</button>
</div>