$mediano : 768px;


.container {
    margin-top: -25vh;

    h2 {
        margin-bottom: 25vh;

    }

    div >.nn {
            width: 150px;
            height: 150px;
            opacity: 0.5;
        
    }
    @media screen and (max-width: 756px) {
        margin-top: 0vh;
        margin-bottom: 3vw;
        h2 {
            margin-bottom: 3vw;
    
        }
      }
}