<app-news></app-news>

<div><h2>News</h2></div>

<div><h3 class="h2">IP500® News</h3></div>


<div class="container">
        <!-- Grid row -->
        <div class="row barra">
    
            <!-- Grid column -->
            <div class="col-lg-4 col-md-12">
    
                <!--Card Wider-->
                <div class="card card-cascade wider">
    
                    <!--Card image-->
                    <div class="view view-cascade overlay">
                        <img src="../img/news/n1.jpg" class="card-img-top" alt="wider">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--/Card image-->
    
                    <!--Card content-->
                    <div class="card-body card-body-cascade text-center">
                        <!--Title-->
                        <h4 class="card-title"><strong>IP500 muestra productos OEM adicionales</strong></h4>
    
    
                        <p class="card-text">
                            El proyecto IP500 SmartIndustry demuestra productos OEM adicionales en la sala de demostración
                            en Friburgo, Alemania.
                            Como se reportó en el informe... </p>
                        <a class="btn btn-unique" href="/new-two">Leer más</a>
    
    
    
    
                    </div>
                    <!--/.Card content-->
    
                </div>
                <!--/.Card Wider-->
    
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6">
    
                <!--Card Narrower-->
                <div class="card card-cascade narrower">
    
                    <!--Card image-->
                    <div class="view view-cascade overlay">
                        <img src="../img/news/n2.jpg" class="card-img-top" alt="narrower">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
    
                    <!--Card content-->
                    <div class="card-body card-body-cascade">
                        
                        <!--Title-->
                        <h4 class="card-title"><strong>La alianza @IP500 en el Congreso mundial movil 2019</strong></h4>
                        <!--Text-->
                        <p class="card-text">La Alianza IP500® presentó su sistema ECO IP500 con productos OEM (Fabricante
                            de Equipamiento Original) y una
                            verdadera red de red IP500 de banda dual totalmente funcional en el stand de SMK, en el Mobile
                            World Congress (MWC) 2019, en Barcelona.</p>
                        <a class="btn btn-unique" href="/new-one">Leer más</a>
                    </div>
                    <!--/.Card content-->
    
                </div>
                <!--/.Card Narrower-->
    
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6">
    
                <!--Card Regular-->
                <div class="card card-cascade">
    
                    <!--Card image-->
                    <div class="view view-cascade overlay">
                        <img src="../img/news/ng3.jpg" class="card-img-top" alt="normal">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!--/.Card image-->
    
                    <!--Card content-->
                    <div class="card-body card-body-cascade text-center">
                        <!--Title-->
                        <h4 class="card-title"><strong>Alianza IP500 en CES, Las Vegas</strong></h4>
    
    
                        <p class="card-text">
                            En asociación con SMK, la Alianza IP500 ha presentado con éxito un sistema ECO IP500 totalmente
                            interoperable con productos OEM IP500 y soluciones de infraestructura IP500 en la sala principal
                            de IoT "SAND".
                            <a class="btn btn-unique" href="/new-component">Leer más</a>
    
    
                            <!--Facebook-->
                            <!-- <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a> -->
                            <!--Twitter-->
                            <!-- <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a> -->
                            <!--Google +-->
                            <!-- <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a> -->
    
                    </div>
                    <!--/.Card content-->
    
                </div>
                <!--/.Card Regular-->
    
            </div>
            <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    </div>