<app-news></app-news>

<div><h2>News</h2></div>

<!-- * INICIAN LAS NOTICIAS EN TARJETA -->
<div class="contenedorAreas">
        <div class="h2 areaTitulo"><h3>NOTICIAS IP500® </h3></div>
        <div class="areaTarjeta{{i+1}}" *ngFor="let noticia of noticias; index as i">
            <div class="repeticiones">
                <img class="areaImg" src="../../assets/news/{{noticia.img}}" alt="{{noticia.titulo}}" height="100%" width="100%">
                <div class="texto">
                    <h4>{{noticia.titulo}}</h4>
                    <p>{{noticia.texto}}</p>
                    <div class="leerMas">
                        
                        <!-- *En caso de crear un elemento para las URLs CAMBIAR el llamado -->
                        
                        <a class="btn btn-unique" [routerLink]="['/news', i, noticia.fecha, url[i]]">Leer más...</a>
                    </div>
    
                </div>
            </div>
    
        </div>
    </div>
    
    <!-- * // TERMINA LAS NOTICIAS EN TARJETA -->

