<app-nav></app-nav>

<div class="bg"></div>

<h2>IP500 Alliance en CES, Las Vegas</h2>

<div class="container">
    <div id="texto" class="row">
        <i>Noticas internas</i>

        <p>En asociación con SMK, la Alianza IP500 ha presentado con éxito un Sistema ECO IP500 totalmente interoperable
            con
            productos OEM IP500 y soluciones de infraestructura IP500 en la sala principal de IoT "SANDs". Los ejemplos
            de
            productos OEM también se presentaron en un segundo stand ubicado en el LVCC "South Hall". Esta muestra ha
            demostrado
            la red inalámbrica IoT más avanzada y robusta para edificios comerciales, basada en el primer y más robusto
            módulo
            de banda dual IP500 CNX200 del mundo.</p>

        <h3>“Ninguno de los otros LoT estándar puede ofrecer una plataforma IoT igual de robusta y segura al mismo nivel
            que el
            IP500 estándar”</h3>

        <p>
            Muchos fabricantes de equipos originales (OEM) e integradores de sistemas han mostrado un gran interés en
            integrar
            el módulo CN5200 de IP500 en varias aplicaciones de IoT, porque el estándar IP500 resuelve los temas clave
            de una
            red de IoT de baja potencia en edificios comerciales y áreas industriales. Se hicieron algunas afirmaciones
            de que
            "ninguno de los otros LoT Etandar puede ofrecer una plataforma de IoT robusta / segura al mismo nivel que el
            IP500
            estándar ".
        </p>
    </div>
</div>


<div class="container">

    <div class="row">

        <h4>Mas publicaciones</h4>
    </div>
    <div class="row">
        <div class="col-xl-3 col-xs-12">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="../img/news/n1.jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                        <h4>IP500 muestra productos De fabricantes de equipamiento original (OEM) adicionales</h4>
                    </mdb-card-title>

                    <a href="/new-two" mdbBtn color="primary" mdbWavesEffect>Más</a>
                </mdb-card-body>
            </mdb-card>
        </div>


        <div class="col-xl-3 col-xs-12">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="../img/news/n2.jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title>
                        <h4>La alianza IP500 En el congreso mundial Mobile</h4>
                    </mdb-card-title>

                    <a href="/new-one" mdbBtn color="primary" mdbWavesEffect>Más</a>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>