<!-- no tiene un enlace a ningun lado -->
<!-- !LOS PRODUCTOS TIENEN UNA CLASE -->

<app-about></app-about>

<h2>{{producto.titulo[0].encabezado}}</h2>
<h3>{{producto.titulo[0].titulo}}</h3>

<div class="contenedor">
    <div class="texto">
        <p>{{producto.descripcion}}</p>
    </div>
    <div class="imagen">
        <div>
            <img src="./img/productos/{{producto.img}}" alt="" width="auto">
        </div>
    </div>
    <ul class="col-izq" *ngIf="producto.caracteristicas">
        <div class="lista">
            <h4>Características Claves</h4>
            <li *ngFor="let caracteristica of producto.caracteristicas">
                <mdb-icon fas icon="check" class="green-text mr-2" aria-hidden="true"></mdb-icon>
                {{caracteristica.item}}
            </li>
        </div>
    </ul>
    <div class="col-izq" *ngIf="producto.grafico">
        <img src="./img/productos/{{producto.grafico}}">
    </div>

    <ul class="col-der" *ngIf="producto.aplicaciones">
        <h4>Adecuado para las siguientes aplicaciones</h4>
        <li *ngIf="producto.aplicaciones['Edificios y casas comerciales inteligentes']">
            <mdb-icon fas icon="home" class="green-text mr-2" aria-hidden="true"></mdb-icon>
            Edificios y casas comerciales inteligentes
        </li>
        <li *ngIf="producto.aplicaciones['Automatización inalámbrica']">
            <mdb-icon fas icon="wifi" class="green-text mr-2" aria-hidden="true"></mdb-icon>
            Automatización inalámbrica
        </li>
        <li *ngIf="producto.aplicaciones['Medición inteligente']">
            <mdb-icon fas icon="flask" class="green-text mr-2" aria-hidden="true"></mdb-icon>
            Medición inteligente
        </li>
        <li *ngIf="producto.aplicaciones['Redes de sensores de baja potencia']">
            <mdb-icon fas icon="battery-full" class="green-text mr-2" aria-hidden="true"></mdb-icon>
            Redes de sensores de baja potencia
        </li>
        <li *ngIf="producto.aplicaciones['Gestión inteligente de energía ecológica']">
            <mdb-icon fas icon="leaf" class="green-text mr-2" aria-hidden="true"></mdb-icon>
            Gestión inteligente de energía ecológica
        </li>
        <li *ngIf="producto.aplicaciones['Seguridad inalámbrica']">
            <mdb-icon fas icon="lock" class="green-text mr-2" aria-hidden="true"></mdb-icon>
            Seguridad inalámbrica
        </li>
    </ul>
    <ul class="col-der" *ngIf="producto.kit">
        <h4>El kit Incluye</h4>
        <li *ngFor="let item of producto.kit">
            <mdb-icon fas icon="box-open" class="green-text mr-2" aria-hidden="true"></mdb-icon>
            {{item.item}}
        </li>
    </ul>
    <div class="distribuido" *ngIf="producto.distribuidoPor">
        <h4>Distribuido por</h4>
        <img src="{{producto.distribuidoPor.logo}}">

        <li *ngFor="let link of producto.distribuidoPor.links">
            <span *ngIf="link.pais">{{link.pais}}: </span> <a href="http://{{link.link}}">{{link.link}}</a>
        </li>
    </div>

</div>