h3 {
  margin-left: 5vw;
}
h4 {
  color: #01579b;
}
.contenedor {
  display: grid;
  padding: 3vw 5vw;
  grid-gap: 3vw;

  .texto {
    grid-area: texto;
    text-align: justify;
  }
  .imagen {
    grid-area: imagen;
    text-align: center;
    img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }
  }
  .col-izq {
    grid-area: col-izq;
    text-align: center;
    .lista {
      text-align: left;
    }
  }
  .col-der {
    grid-area: col-der;
  }
  .distribuido {
    grid-area: distribuido;
  }

  grid-template-areas:
    "texto imagen"
    "col-izq imagen"
    "col-izq col-der"
    "col-izq distribuido";

    @media screen and (max-width: 680px){
        grid-template-areas: 
        "texto" "imagen" "col-izq" "col-der" "distribuido";
    }
}

ul {
    list-style: none;
}