<app-about></app-about>

<div>
  <h2>{{titulo}}</h2>
</div>

<div class="container">
  <div class="row">

    <div class="col-xl-8 col-md-6 col-xs-12 columnas">
      <div>
        <h3>Administrador de puerto inalambrico IP500®</h3>
        <p>

          GT150 proporciona la puerta de enlace con todas las funciones entre la red de sensores y otras redes o
          dispositivos informáticos. Cumple con las últimas IEE802.15.4g-2012 y ETSI TS 102 887-1. Junto con el
          enrutamiento del software IP500, permite la recopilación de datos desde la red de sensores y el envío de
          comandos de configuración a nodos individuales o grupos más grandes. El CNX GT150 puede manejar hasta 5000
          sensores dentro de una red. Sin embargo, para construir redes más grandes, el GT150 se puede agrupar.
        </p>

      </div>
    </div>
    <div class="col-xl-4 col-md-6 col xs-12" id="producto"></div>
  </div>

  <div class="row">

    <div class="col-xl-6 col-sm-6">
      <h4>Key Features</h4>
      <ul>
        <li> Estructura de datos de protocolo Nativo IP500®</li>
        <li> Frecuencia de operación Sub GHz</li>
        <li> Gestión de dispositivos y redes inalambricas</li>
        <li> IEEE 802.15.4</li>
        <li> 6LoWPAN</li>
        <li> Actaulización remota del firmware</li>
        <li> Integración rapida y fácil de usar de APIs</li>
        <li> Gestión de claves para la comunicación inalámbrica.</li>
        <li> Integración a los sitemas Host via TCP/IP</li>
      </ul>
    </div>
    <div class="col-xl-6 col-sm-6">
      <h4>Adecuado para las siguientes aplicaciones</h4>
      <ul>
        <li><img src="" alt="">Edificios y casas comerciales inteligentes.</li>
        <li><img src="" alt=""> automatización inalámbrica</li>
        <li><img src="" alt=""> medición inteligente</li>
        <li><img src="" alt=""> redes de sensores de baja potencia</li>
        <li><img src="" alt=""> gestión inteligente de energía ecológica</li>
        <li><img src="" alt=""> Seguridad inalámbrica</li>
      </ul>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <section>
              <h4>Distribuido por</h4>
              <img src="../../../img/galeria/" alt="">
              <a href="www.corenetix.com">www.corenetix.com</a>
            </section>
          </div>
        </div>
      </div>

    </div>




  </div>

</div>
<app-barra></app-barra>