<div>
  <h2>{{titulo}}</h2>
</div>

<div>
  <div>
    <h3>IP500® Gateway – wireless Network Manager</h3>
    <p>GT150 provides the full featured gateway between the sensor network and other networks or computing devices. It
      complies with latest IEE802.15.4g-2012 and ETSI TS 102 887-1. Together with the IP500 Software routing it allows
      data gathering from the sensor network as well as sending configuration commands to single nodes or to larger
      groups. THe CNX GT150 can handle up to 5000 sensors within a network. However in order to build larger networks,
      the GT150 can be clustered.</p>
  </div>
  <div></div>
</div>

<div>
  <h4>Key Features</h4>
  <ul>
    <li> Native IP500® protocol stack</li>
    <li> Sub GHz operation frequency</li>
    <li> Wireless Device & Network Management</li>
    <li> IEEE 802.15.4</li>
    <li> 6LoWPAN</li>
    <li> Remote firmware upgrade</li>
    <li> Easy to use API for quick integration</li>
    <li> Key Management for wireless communication</li>
    <li> Integration to Host systems via TCP/IP</li>
  </ul>

  <h4>Suitable for the following applications</h4>
  <ul>
      <li><img src="" alt=""> smart commercial buildings and homes</li>
      <li><img src="" alt=""> wireless automation</li>
      <li><img src="" alt=""> smart metering</li>
      <li><img src="" alt=""> low power sensor networks</li>
      <li><img src="" alt=""> intelligent eco energy management</li>
      <li><img src="" alt=""> wireless security</li>
  </ul>

  <section>
    <h4>Distribuido por</h4>
    <img src="" alt="">
    <a href="www.corenetix.com">www.corenetix.com</a>
  </section>

</div>

<div>
  <section>
    <h3>Get in touch!</h3>
    <p>We look forward to hearing from you, you will find the right contact person for your request here:</p>
      <button>Contactanos</button>
  </section>
</div>