<app-about></app-about>

<div>
  <h2>{{titulo}}</h2>
</div>

<div class="container">
  <div class="row">

    <div class="col-xl-8 col-md-6 col-xs-12 columnas">
      <div>
        <h3>Módulo de radio de banda dual IP500® 868 MHz y 2.4 GHz</h3>
        <p>
          CNX200 es el primer módulo REAL de doble banda del mundo que admite la comunicación simultánea en dos bandas
          de frecuencia, es decir, sub-GHz y 2.4GHz, que atienden las crecientes demandas de los clientes que buscan
          soluciones de conectividad multiprotocolo de bajo costo. CNX200 cumple con la última IEE802.15.4g-2012 y ETSI
          TS 102 887-1. CNX200 ofrece una multitud de esquemas de modulación que van desde FSK multirregional
          multirregional, OFDM, O-QPSK en bandas de frecuencia ISM europeas, estadounidenses, japonesas, chinas,
          coreanas y mundiales. CNX200 está diseñado principalmente para satisfacer las exigentes demandas del estándar
          IP500 para una comunicación segura y a prueba de fallas que pueda cumplir con EN54-25 y VdS. El módulo de
          banda dual CNX200 es una plataforma ideal para los OEM que buscan una plataforma de hardware versátil que les
          permita diseñar rápidamente la tecnología inalámbrica en su producto en medición inteligente, iluminación
          inteligente, hogar inteligente, energía inteligente y automatización, así como espacio industrial. CNX200 es
          el único módulo en el mercado que ofrece operación simultánea en ambas bandas y es compatible con OMS, ZigBee,
          Thread, así como con IP500®.

        </p>

      </div>
    </div>
    <div class="col-xl-4 col-md-6 col xs-12" id="producto"></div>
  </div>

  <div class="row">

    <div class="col-xl-6 col-sm-6">
      <h4>Características Claves</h4>
      <ul>
        <li> Operación simultanea en Banda-Dual</li>
        <li>Módulo multi-estándar de costo optimizado para IoT</li>
        <li> Cumple con - IEEE 802.15.4g-2012</li>
        <li> Con cifrado acelerador AES128bit</li>
        <li> Fácil de integrar en sus productos.</li>
        <li> Varias opciones de integración Serial, USB, I2C</li>
        <li> Soporte para interfaz táctil</li>
        <li> Dimensiones compactas: 15,0 mm x 34.5 mm</li>
        <li> hardware compatible EN54-25, VdS</li>
        <li> Disponible con estructura de datos IP500</li>
      </ul>
    </div>
    <div class="col-xl-6 col-sm-6">
      <h4>Adecuado para las siguientes aplicaciones</h4>
      <ul>
        <li><img src="" alt=""> Edificios y casas comerciales inteligentes.</li>
        <li><img src="" alt=""> automatización inalámbrica</li>
        <li><img src="" alt=""> medición inteligente</li>
        <li><img src="" alt=""> redes de sensores de baja potencia</li>
        <li><img src="" alt=""> gestión inteligente de energía ecológica</li>
        <li><img src="" alt=""> Seguridad inalámbrica</li>
      </ul>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h4>Distribuido por</h4>
            <section>
              <li>SMK Europe<a href="www.smkeurope.com">www.smkeurope.com</a></li>
              <li>SMK USA<a href="www.smkusa.com">www.smkusa.com</a></li>
              <li>SMK Japan<a href="www.smk.co.jp">www.smk.co.jp</a></li>
            </section>
          </div>
        </div>
      </div>

    </div>




  </div>

</div>
<app-barra></app-barra>