<app-solutions></app-solutions>

<div>
  <h2>Smart City</h2>
</div>

<div class="container">
  <div class="row">


    <div class="col-xl-8 col-md-6 col-xs-12 justificado">
      <section>
        <h3>
          Smart City Project Freiburg, Germany</h3>
        <p>The project is targeting the industrial parks of three cities ­ Freiburg i.B., Offenburg andLahr in Germany.
          The first installations of smart devices / solutions will be done inFreiburg, which is located in the southern
          part of Germany, near Basel (CH) andStrasbourg (F). The project will make commercial buildings (companies,
          parks, restaurants or otherprofessional institutions) smarter, by improving their energy efficiency and / or
          securityof the buildings and its property. Approximately 100 building (approx. 300 in total) are going to be
          part of the project inthe first round.
          <br>
          These industrial buildings are part of the Freiburg industrial area in thenorthern part of Freiburg. The goal
          of the project is to install smart device / sensor in the industrial building toaddress the target
          applications and owners main topics ­ energy and security / safety.All the smart devices and solutions shall
          be connected by a wired or wireless network.There are three levels of network topologies in the industrial
          area. Business Opportunity for IP500 OEMs and Partners
        </p>
        <button type="button" mdbBtn color="info" mdbWavesEffect><a href="../docs/smart_city.pdf" download> Descargar Flyer</a></button>
      </section>
    </div>
    <div class="col-xl-4 col-md-6 col-xs-12" id="imagen"></div>
  </div>
</div>

<app-barra></app-barra>