#imagen {
    background-image: url('../img/bg/bg7.jpg');
    background-size: contain;
    background-attachment: inherit;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

.justificado {
    text-align: justify;
    margin-bottom: 3vw;
}

a {
    color: white;
}