<app-solutions></app-solutions>

<div>
  <h2>Smart City</h2>
</div>

<div class="container">
  <div class="row">


    <div class="col-xl-8 col-md-6 col-xs-12 justificado">
      <section>
        <h3>
          Proyecto de Ciudad Inteligente Freiburg, Germany</h3>
        <p>
          El proyecto se dirige a los parques industriales de tres ciudades, Freiburg i.B., Offenburg y Lahr en
          Alemania. Las primeras instalaciones de dispositivos / soluciones inteligentes se realizarán en Freiburg, que
          se encuentra en la parte sur de Alemania, cerca de Basilea (CH) y Estrasburgo (F). El proyecto hará que los
          edificios comerciales (empresas, parques, restaurantes u otras instituciones profesionales) sean más
          inteligentes, al mejorar su eficiencia energética y / o la seguridad de los edificios y sus propiedades.
          Aproximadamente 100 edificios (aproximadamente 300 en total) formarán parte del proyecto en la primera ronda.
          <br>

          Estos edificios industriales forman parte del área industrial de Friburgo en la parte norte de Friburgo. El
          objetivo del proyecto es instalar un dispositivo / sensor inteligente en el edificio industrial para dirigir
          las aplicaciones objetivo y los ítems principales de los propietarios sobre energía y seguridad. Todos los
          dispositivos y soluciones inteligentes deben estar conectados mediante una red cableada o inalámbrica. Hay
          tres niveles de topologías de red en el área industrial. Es una portunidad de negocio para fabricantes y 
          socios de IP500
        </p>
        <button type="button" mdbBtn color="info" mdbWavesEffect><a href="../docs/smart_city.pdf" download> Descargar
            Flyer</a></button>
      </section>
    </div>
    <div class="col-xl-4 col-md-6 col-xs-12" id="imagen"></div>
  </div>
</div>

<app-barra></app-barra>