<div>
  <h2>{{titulo}}</h2>
</div>

<div>
  <h3>Become a member today!</h3>
  <div>
    <p>Would you or your company like to expand your business models, opportunities and technical feasibilities by means
      of “full interoperability” of sensors, smart devices, or active trades in an IP-based wireless network?
      <br>
      Then join the IP500® Alliance, the international alliance of leading manufacturers, users, and operators in
      industrial and building automation (Smart Buildings & Home) and in public spaces and city areas (Smart City). The
      IP500® Alliance promotes and develops in close cooperation with all of its members a wireless, multi-vendor,
      secure communication platform for smart buildings.
      <br>
      Attend one of our meetings as a guest and find out which of the IP500® solutions that are available today can be
      connected interoperably with your products.
      <br>
      Subject to the following conditions, any (OEM) company can join that provides products and solutions in the areas
      listed above:
    </p>
    <br>
    <ul>
      <li>You are invited to attend one of our IP500® members’ meetings as a guest (two times at most). If you would
        like an invitation you can either register at info@ip500alliance.org or be listed on the invitation of the
        IP500® Alliance (Board or Management) or an IP500® member.</li>
      <li>Before you apply to join you must have attended at least one of our main meetings</li>
      <li>The IP500® Alliance directors decide on membership applications at their regular Board meetings.</li>
      <li>Full members pay an annual membership fee of EUR 8,000 net, membership being for 12 months from the month in
        which you join.</li>
      <li>Membership may be cancelled at any time, but membership fees are not refundable, not even pro rata.</li>
    </ul>
    <p>Suppliers cannot join, but they can conclude partnership agreements with the IP500® Alliance. There is also the
      option of becoming a supporting member. Terms and conditions are available on request 
      <a href="">info@ip500alliance.org</a>

      Membership application documents, the statutes, and the scale of membership fees will be supplied in response to a
      personal inquiry.</p>
  </div>
  <div><button>Contactanos</button></div>
</div>