<app-about></app-about>

<div class="container">
  <div>
    <h2>{{titulo}}</h2>
  </div>
  <div class="row">
    <div class="columnas">
      <h3>Házte miembro hoy!</h3>
      <div>
        <p>
          ¿Desearía usted o su empresa ampliar sus modelos de negocio, oportunidades y posibilidades técnicas mediante
          la "interoperabilidad completa" de sensores, dispositivos inteligentes o transacciones activas basada en una
          red inalámbrica IP?
          <br>
          Entonces únase a la Alianza IP500®, la alianza internacional de fabricantes, usuarios y operadores líderes en
          automatización industrial y de hogares (Smart Buildings & Home) y en espacios públicos y áreas de la ciudad
          (Smart City). La Alianza IP500® promueve y desarrolla en estrecha colaboración con todos sus miembros una
          plataforma de comunicación segura, de múltiples proveedores e inalámbrica para edificios inteligentes.
          <br>

          Asista a una de nuestras reuniones como invitado y descubra cuál de las soluciones IP500® disponibles en la
          actualidad se puede conectar de forma interoperable con sus productos.
          <br>

          Sujeto a las siguientes condiciones, cualquier compañía (OEM) puede unirse para proporcionar productos y
          soluciones en las áreas enumeradas anteriormente:
        </p>
        <br>
        <ul>
          <li>
            Le invitamos a asistir a una de las reuniones de nuestros miembros de IP500® como invitado (dos veces como
            máximo). Si desea una invitación, puede registrarse en <a href="mailto:info@ip500alliance.org">info@ip500alliance.org</a> o inscribirse en la invitación de la Alianza
            IP500® (Junta o Administración) o con un miembro de IP500®</li>
          <li>Antes de postularse para unirse, debe haber asistido al menos a una de nuestras reuniones principales</li>
          <li>Los directores de la Alianza IP500® deciden sobre las solicitudes de membresía en sus reuniones regulares
            de la Junta.</li>
          <li>
            Los miembros completos pagan una tarifa de membresía anual de EUR 8,000 netos, la membresía es de 12 meses a
            partir del mes en el que se inscribe.</li>
          <li>La membresía puede cancelarse en cualquier momento, pero las cuotas de membresía no son reembolsables, ni
            siquiera a pro-rata.</li>
        </ul>
        <p>Los proveedores no pueden unirse, pero pueden celebrar acuerdos de asociación con la Alianza IP500®. También
          existe la opción de convertirse en un miembro de apoyo. Los términos y condiciones están disponibles a pedido
          <a href="mailto:info@ip500alliance.org">info@ip500alliance.org</a>

          Los documentos de solicitud de membresía, los estatutos y la extensión de las cuotas de membresía se
          entregarán en respuesta a una consulta personal.</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-2">
            <div><button type="button" mdbBtn color="info" mdbWavesEffect>Contáctanos</button></div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>