/* You can add global styles to this file, and also import other style files */
body, html {
   height: 100%;
  }

  $mediano : 768px;

  .columnas {
      column-count: 2;
      margin-bottom: 5vw;
      text-align: justify;
      column-gap: 5vw;
      @media screen and (max-width: $mediano){
          column-count: 1;
      }
  }

  h2 {
    margin-top: -25vh;
  margin-bottom: 25vh;
  margin-left: 5vw;
  @media screen and (max-width: 756px) {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
}

.noticia{
  cite {
    margin: 4vw;
    text-align: center;
    font-size: 2rem;
    
  }
  
}