$break-small: 756px;
$margen: 5vw;

.inicio {
  margin-top: -25vh;
  margin-bottom: 3vw;
  margin-left: 5vw;
  button > a {
    color: white;
  }
  @media screen and (max-width: $break-small) {
    margin-top: 5vw;
    margin-bottom: 0vw;
  }
}

.inicio2 {
  margin-top: 5vh;
  h2 {
  margin-bottom: 5vw;
  text-shadow: none;
  color: #005b90;
}
}

h2 {
  margin: 0;
  margin-bottom: 15px;
  color: black;
}

.centrado {
  padding: 0%;
  column-count: 2;
  text-align: justify;
  @media screen and (max-width: $break-small) {
    column-count: 1;
  }
}

.barraTexto {
  padding: 0 5vw;
  align-content: center;
}

.botonCentrado {
  width: 100%;
  display: flex;

  align-items: center;
}

.col-xl-6.barra {
  background-image: url("../img/bg/bg2.jpg");
  width: 50vw;
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container.barra {
  padding-top: 5vw;
  padding-bottom: 1px;
  margin-left: 0;
  margin-right: 0;
  .row {
    width: 100vw;
    padding: 0;
    
    background-color: #94c11c;
    .col-xl-6.contenedorTexto {
      width: 50vw;
      padding: 5vw;
      
      @media screen and (max-width: $break-small) {
        width: 100vw;
      }
      
    }
  }
  .textoBarra, h2, p {
    text-align: center;
    color: white;
  }
}

.col-12.centrado2 {
  padding: 0;
  width: 100vw;
  padding-left: 10vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.barra2 {
  padding: 0;
  margin: 0;
  width: 100vw;
  .textoBarra, h2, p {
    text-align: center;
    color: white;
  }
  
  .row {
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: #005b90;

    .contenedorTexto {
      text-align: center;
      padding: 5vw;
      margin: 0;
      width: 50vw;
      color: white;
      @media screen and (max-width: $break-small) {
        width: 100vw;
      }
      .sub {
        background-color: gray;
      }
    }
    .imagen-2 {
      background-image: url('../img/bg/bg3.jpg');
      padding: 0;
      margin: 0;
      height: 450px;
      width: 50vw;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

#img4 {
  background-image: url('../img/bg/bg4.jpg');
  background-size: contain;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5vw;

}
#img5 {
  background-image: url('../img/bg/bg5.png');
  background-size: contain;
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.centrado2 {
  padding-top: 10vw;
  width: 100vw;
  .opinion {
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vw;
  }
}

.card-up > img {
  height: 70px;
  width: 70px;
}

#testimonio {
  padding: 15px;
  background-image: radial-gradient(#005b90, white);
  margin: 5vw 0 5vw 0;
  border: 0;
  border-radius: 50%;

}

blockquote {
  font-style: italic;
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  b {
    font-size: 1.5em;
  }
}

button > a {
  color: white;
}


.contenedorAreas {
  display: grid;
  margin: 0;
  padding: 5vw;
  grid-gap: 5vw;
  .areaTitulo {
    grid-area: titulo;
    text-align: center  
  }
  .areaTarjeta1 {
    grid-area: tarjeta1
  }
  .areaTarjeta2 {
    grid-area: tarjeta2
  }
  .areaTarjeta3 {
    grid-area: tarjeta3
  }
  .repeticiones {
    width: 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .texto {
      padding: 2vw
    }
    
  }
  p {
    text-align: justify;
  }
  .leerMas{
    width: 100%;
    text-align: right;
    
  }
  grid-template-areas: 
    '. titulo .'
    'tarjeta1 tarjeta2 tarjeta3';

  @media screen and (max-width: 1000px){
    grid-template-areas: 
      'titulo titulo'
      'tarjeta1 tarjeta1'
      'tarjeta2 tarjeta3'
  }

  @media screen and (max-width: 640px){
    grid-template-areas: 
      'titulo'
      'tarjeta1'
      'tarjeta2'
      'tarjeta3'
  }

}