
<app-about></app-about>

<div class="col-12">
    <section class="inicio">
        <h1>IP500 Workshop</h1>
        <p><time datetime="2019-04-24">24</time> - <time datetime="P2D">25 April 2019</time>. &#64;Berlin
            Andel&#39;s
            Hotel</p>

    </section>
</div>
<div class="col-12">
    <section class="barraTexto">
        <h2>IP500&reg; – An open, secure and vendor-neutral wireless platform for commercial and industrial
            buildings
        </h2>
        <div class="col-12 centrado">

            <p>
                The IP500® Alliance is an open and international association. It has been formed by OEMs and system
                manufacturers to establish a standardized and reliable open meshed wireless sensor and actuator
                network –
                mainly for large commercial and enterprise building and process automation applications.
                <br>
            </p>
            <ul>
                <li>Most robust and secure mesh connectivity in commercial buildings</li>
                <li>Scalable range and mesh topology / size of network</li>
                <li>Supports safety / security and mobile & comfort applications</li>
            </ul>
        </div>
        <div class="botonCentrado">
            <button type="button" class="btn btn-primary">About</button>

        </div>
    </section>
</div>


<div class="container barra">
    <div class="row primera">
        <div class="col-xl-6 col-md-6 col-sm-12 col-12 barra" style="width: 50px;"></div>
        <div class="col-xl-6 col-md-6 col-sm-12 contenedorTexto">
            <section class="textoBarra">
                <h2>Technology</h2>
                <p>
                    As an open, non-proprietary, high-performance, and secure building automation platform the
                    IP500&reg;
                    standard does indeed set new standards. It is the only wireless technology standard to ensure
                    maximum
                    interoperability by using and supporting the main industry norms and by clearly specifying all
                    interfaces.
                </p>
                <button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>More</button>
            </section>
        </div>
    </div>
</div>

<div class="container barra2">
    <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12 contenedorTexto">
            <section class="textoBarra">
                <h2>Solutions and Deployment Scenarios</h2>
                <p>
                    IP500&reg; solutions ensure robust, uninterruptible, wireless communication between
                    security-relevant
                    building automation components. The IP500&reg; standard ensures the requisite cross-disciplinary
                    interoperability that is, moreover, easy to implement using the BACnet and IP500&reg;
                    interoperability
                    specifications.
                </p>
                <button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>More</button>
            </section>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12 col-12 imagen-2"></div>
    </div>

</div>

<div class="col-12 centrado2">
    <h2>NEWS</h2>
</div>

<div class="container">
<!-- Grid row -->
<div class="row barra">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12">

        <!--Card Wider-->
        <div class="card card-cascade wider">

            <!--Card image-->
            <div class="view view-cascade overlay">
                <img src="../../../img/news/n1.jpg" class="card-img-top" alt="wider">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/Card image-->

            <!--Card content-->
            <div class="card-body card-body-cascade text-center">
                <!--Title-->
                <h4 class="card-title"><strong>IP500 demostrate Additional OEM products</strong></h4>


                <p class="card-text">IP500 SmartIndustry Projct demonstrates additional OEM products in demo room in
                    Freiburg,
                    Germany
                    As reported in the News Letter 4 </p>
                <a class="btn btn-unique">Leer más</a>




            </div>
            <!--/.Card content-->

        </div>
        <!--/.Card Wider-->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6">

        <!--Card Narrower-->
        <div class="card card-cascade narrower">

            <!--Card image-->
            <div class="view view-cascade overlay">
                <img src="../../../img/news/n2.jpg" class="card-img-top" alt="narrower">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body card-body-cascade">
                <h5 class="pink-text"><i class="fas fa-utensils"></i> Culinary</h5>
                <!--Title-->
                <h4 class="card-title">IP500 Alliance at Mobile World Congress 2019</h4>
                <!--Text-->
                <p class="card-text">The IP500® Alliance presented its IP500 ECO system with OEM products and a fully
                    functional true
                    dual-band IP500 mesh network on the SMK booth, at the Mobile World Congress (MWC) 2019, in
                    Barcelona.</p>
                <a class="btn btn-unique">Leer más</a>
            </div>
            <!--/.Card content-->

        </div>
        <!--/.Card Narrower-->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6">

        <!--Card Regular-->
        <div class="card card-cascade">

            <!--Card image-->
            <div class="view view-cascade overlay">
                <img src="../../../img/news/ng3.jpg" class="card-img-top" alt="normal">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body card-body-cascade text-center">
                <!--Title-->
                <h4 class="card-title"><strong>IP500 Alliance at CES, Las Vegas</strong></h4>


                <p class="card-text">In partnership with SMK the IP500 Alliance has successfully presented a fully
                    interoperable
                    IP500
                    ECO
                    System with IP500 OEM products and IP500 infrastructure solutions in the main IoT hall “SANDs”.

                </p>
                <a class="btn btn-unique">Leer más</a>


                <!--Facebook-->
                <!-- <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a> -->
                <!--Twitter-->
                <!-- <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a> -->
                <!--Google +-->
                <!-- <a type="button" class="btn-floating btn-small btn-dribbble"><i class="fab fa-dribbble"></i></a> -->

            </div>
            <!--/.Card content-->

        </div>
        <!--/.Card Regular-->

    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->
</div>
<div class="container barra">
    <div class="row primera">
        <div class="col-xl-6 col-md-6 col-sm-12 col-12 barra" style="width: 50px;" id="img4"></div>
        <div class="col-xl-6 col-md-6 col-sm-12 contenedorTexto">
            <section class="textoBarra">
                <h2>NEW</h2>
                <h3>IP500 Standard at DKE Roadmap</h3>
                <p>IP500 Technologiy at German Standardization Roadmap Smart-Home & Building Version 2.0</p>
                <button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>More</button>
            </section>
        </div>
    </div>
</div>

<div class="container barra2">
    <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12 contenedorTexto sub">
            <section class="textoBarra">
                <h2>Events 2019</h2>
                <p>
                    Visit us at the most important exhibitions and fairs in 2019 and we look forward to welcoming
                    you to
                    our
                    stand. Further information:
                </p>
                <button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect>More</button>
            </section>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12 col-12 imagen-2" id="img5"></div>
    </div>
</div>

<div class="centrado2">
    <div class="card testimonial-card">

        <!--Background color-->
        <div class="card-up teal lighten-2">
        </div>
        <div class="text-center avatar mx-auto white" id="testimonioContenedor">
            <img class=""
                src="../../../img/avatar2/av1.jpg" alt="" id="testimonio">

        </div>
        <div class="opinion">
            <blockquote class="">
                <b>&quot;</b>The IP500 standar solution will allow OEMs to enable business oportunities in a real project,
                where
                interoperation of various smart devices is the key. Until today, OEMs are struggling with their own
                proprietary low power network solution on one side and on the other currently available standard
                solutions
                are not providing the right performance. <br> Due to the IP based connectibity approach and the
                secod
                source
                strategy of the IP500 Alliance, OEMs will have more freedom and oportunities for their vusiness
                approach<b>&quot;</b>
            </blockquote>
        </div>
    </div>
</div>

<app-barra></app-barra>