.container2 {
    color: white;
    margin: 0;
    width: 100vw;
    padding: 0;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #005b90;
    // background-image: linear-gradient(to top left, #94c11c, #005b90);
button {
    margin: 0;
    a {
        color: white;
    }
    
}
h3, p {
    text-align: center;
    
}

}

h3 {
    margin-bottom: 3vw;
}